Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

frontend changes
  packages/frontend-2/components/project/VisibilitySelect.vue
  packages/frontend-2/components/project/model-page/dialog/embed/Embed.vue
  packages/frontend-2/components/project/page/settings/general/block/Access.vue
  packages/frontend-2/components/project/page/settings/general/block/Discussions.vue
  packages/frontend-2/components/project/page/team/dialog/ManagePermissions.vue
  packages/frontend-2/components/projects/AddDialog.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/projects/helpers/visibility.ts
  packages/frontend-2/middleware/requireValidModel.ts
  packages/server/modules/core/tests/projects.spec.ts
Due: run-server-pipeline, run-frotend-pipeline

chore(viewer-lib): testing numbers
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer-sandbox/src/main.ts
Due: none

minor adjustments
  packages/server/modules/core/repositories/streams.ts
  packages/server/modules/notifications/tests/activityDigest.spec.ts
Due: run-server-pipeline

shared test fix
  packages/shared/src/authz/policies/project/canLoad.spec.ts
  packages/shared/src/authz/policies/project/canPublish.spec.ts
Due: none

test fixes
  packages/server/modules/core/tests/projects.spec.ts
  packages/server/modules/workspaces/tests/integration/projects.graph.spec.ts
Due: run-server-pipeline

force rerun CI
  packages/server/modules/core/tests/projects.spec.ts
Due: run-server-pipeline

Fix: Hide addons if not self serve plan
  packages/frontend-2/components/settings/workspaces/billing/Page.vue
  packages/frontend-2/components/workspace/discoverableWorkspaces/Modal.vue
Due: run-frotend-pipeline

rely on canLoad and canPublish on addByUrl
  packages/dui3/lib/core/composables/addByUrl.ts
Due: none

Fix: Only show billing ingo for relevant plans
  packages/frontend-2/components/settings/workspaces/billing/Page.vue
Due: run-frotend-pipeline

Mutate selected workspace as default
  packages/dui3/components/wizard/ProjectSelector.vue
Due: none

fix: add refetch. Only show button when pagination is needed
  packages/frontend-2/components/workspace/discoverableWorkspaces/Modal.vue
  packages/frontend-2/lib/workspaces/composables/discoverableWorkspaces.ts
Due: run-frotend-pipeline

Remove change that conflicts with other branch
  packages/frontend-2/components/workspace/discoverableWorkspaces/Modal.vue
Due: run-frotend-pipeline

Fix: Hide add-ons if not self serve plan (#4706)
  packages/frontend-2/components/settings/workspaces/billing/Page.vue
  packages/frontend-2/components/workspace/discoverableWorkspaces/Modal.vue
Due: run-frotend-pipeline

fix: reset view mode states onBeforeUnmount
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

Set default opacity to 0.75
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

fix(fileimport): import Knex type correctly
  packages/fileimport-service/src/clients/knex.ts
  packages/fileimport-service/src/controller/daemon.ts
  packages/fileimport-service/src/controller/prometheusMetrics.ts
  packages/fileimport-service/src/ifc/import_file.js
  packages/monitor-deployment/src/clients/knex.ts
Due: none

feat(ci): 3249 remove yarn cache (#4655)
  .circleci/config.yml
Due: none

fix(shared): support busted knex typing in node16 moduleResolution
  packages/shared/src/environment/multiRegionConfig.ts
Due: none

fix(shared): support busted knex typing in node16 moduleResolution (#4709)
  packages/shared/src/environment/multiRegionConfig.ts
Due: none

Update bumps missed during merge from main
  .circleci/config.yml
Due: none

Fix dark mode pen mode
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

Remove hasChangedEdgesColor
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

additional bumps from 18.19.0 to 22.6.0
  packages/monitor-deployment/package.json
Due: none

feat(viewer-lib): Implemented a way to compute the projected pixxel difference between fp32 and fp64 as it would happen on the GPU. With this we can determine which streams need RTE
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/index.ts
  packages/viewer/src/modules/converter/Geometry.ts
Due: run-viewer-pipeline

Fix: Allow selecting of the default color (#4701)
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

fix(authz): expose canInvite gql queries
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/core/typedefs/permissions.graphql
  packages/server/assets/workspacesCore/typedefs/permissions.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/core/graph/resolvers/permissions.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/graph/resolvers/permissions.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline, run-frotend-pipeline

trying to add a separate geometry conversion progress as well as data loading progress
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer/src/modules/loaders/Loader.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleGeometryConverter.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
Due: run-frotend-pipeline, run-viewer-pipeline

fix(fileuploads): fileupload query
  packages/server/modules/workspaces/repositories/workspaces.ts
Due: run-server-pipeline

moving stuff around and lock return value
  packages/objectloader2/eslint.config.mjs
  packages/objectloader2/src/helpers/batchedPool.ts
  packages/objectloader2/src/helpers/cachePump.spec.ts
  packages/objectloader2/src/helpers/cachePump.ts
  packages/objectloader2/src/helpers/cacheReader.spec.ts
  packages/objectloader2/src/helpers/cacheReader.ts
  packages/objectloader2/src/helpers/defermentManager.ts
  packages/objectloader2/src/index.ts
  packages/objectloader2/src/operations/databases/__snapshots__/indexedDatabase.spec.ts.snap
  packages/objectloader2/src/operations/databases/indexedDatabase.spec.ts
  packages/objectloader2/src/operations/databases/indexedDatabase.ts
  packages/objectloader2/src/operations/databases/memoryDatabase.ts
  packages/objectloader2/src/operations/downloaders/__snapshots__/serverDownloader.spec.ts.snap
  packages/objectloader2/src/operations/downloaders/memoryDownloader.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.spec.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
  packages/objectloader2/src/operations/interfaces.ts
  packages/objectloader2/src/operations/objectLoader2.spec.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/options.ts
Due: none

fix(server): mailchimp problems throw a sanitised error
  packages/server/modules/auth/errors/index.ts
  packages/server/modules/auth/services/mailchimp.ts
Due: run-server-pipeline

fix(automate): return null if not a function
  packages/server/modules/automate/graph/resolvers/automate.ts
Due: run-server-pipeline

Feat: Add project selector to guest invites
  packages/frontend-2/components/invite/dialog/Workspace.vue
  packages/frontend-2/components/invite/dialog/shared/SelectUsers.vue
Due: run-frotend-pipeline

feat(workspaces): mixpanel recieve more workspace attributes
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
Due: run-server-pipeline

chore(preview-frontend): Disabled outlines to avoid the extra complexity and weird artifacts
  packages/preview-frontend/src/main.ts
Due: none

chore(preview-frontend): Pinned the viewer version
  packages/preview-frontend/package.json
Due: none

fix(authz): expose canInvite gql queries (#4712)
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/core/typedefs/permissions.graphql
  packages/server/assets/workspacesCore/typedefs/permissions.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/core/graph/resolvers/permissions.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/graph/resolvers/permissions.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline, run-frotend-pipeline

fix(automate): filter out deleted automation runs
  packages/server/modules/automate/graph/resolvers/automate.ts
  packages/server/modules/automate/repositories/automations.ts
Due: run-server-pipeline

fix: disable pino-pretty in inspector to avoid freezes
  packages/shared/src/observability/index.ts
Due: none

fix(viewer-lib): Edges pipeline now is explicit about which object visibilities to render, avoiding rendering colored masked objects
  packages/viewer/src/modules/pipeline/Passes/DepthNormalPass.ts
  packages/viewer/src/modules/pipeline/Pipelines/EdgesPipeline.ts
Due: run-viewer-pipeline

Path conditions:
  run-server-pipeline: any of: packages/server/.*
  run-frotend-pipeline: any of: packages/frontend-2/.*
  run-viewer-pipeline: any of: packages/viewer/.*
