Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

various test fixes
  packages/server/modules/core/domain/projects/operations.ts
  packages/server/modules/core/helpers/types.ts
  packages/server/modules/core/migrations/20250506114120_add_streams_visibility_col.ts
  packages/server/modules/core/repositories/streams.ts
  packages/server/modules/core/repositories/users.ts
  packages/server/modules/core/services/projects.ts
  packages/server/modules/core/tests/integration/projectRepositories.spec.ts
  packages/server/modules/core/tests/integration/projects.graph.spec.ts
  packages/server/modules/core/tests/integration/users.graph.spec.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/projects.ts
  packages/server/modules/workspaces/tests/helpers/invites.ts
  packages/server/modules/workspaces/tests/integration/invites.graph.spec.ts
  packages/server/modules/workspaces/tests/integration/projects.graph.spec.ts
  packages/server/modules/workspaces/tests/integration/roles.graph.spec.ts
  packages/server/modules/workspaces/tests/integration/sso.graph.spec.ts
  packages/server/test/authHelper.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/server/test/graphql/workspaces.ts
  packages/server/test/speckle-helpers/streamHelper.ts
Due: run-server-pipeline

fix: comments, added tests
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/tests/integration/fileuploadsV2.spec.ts
  packages/server/modules/fileuploads/tests/results.integration.spec.ts
Due: run-server-pipeline

chore(file import service): remove aliases
  packages/fileimport-service/src/aliasLoader.ts
  packages/fileimport-service/src/bin.ts
  packages/fileimport-service/src/controller/api.ts
  packages/fileimport-service/src/controller/daemon.ts
  packages/fileimport-service/src/controller/objDependencies.ts
  packages/fileimport-service/src/controller/prometheusMetrics.ts
  packages/fileimport-service/src/knex.ts
  packages/fileimport-service/src/root.ts
  packages/fileimport-service/tsconfig.json
Due: none

fix
  packages/fileimport-service/src/bin.ts
Due: none

feat: added modelId to file upload table
  packages/server/modules/core/dbSchema.ts
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/helpers/types.ts
  packages/server/modules/fileuploads/migrations/20250508190226_add_modelId_to_file_uploads.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/tests/integration/fileuploadsV2.spec.ts
Due: run-server-pipeline

fix: ensureError log
  packages/server/modules/fileuploads/rest/router.ts
Due: run-server-pipeline

feat(fileupload): create new endpoint for file upload (#4693)
  packages/server/modules/core/dbSchema.ts
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/helpers/rest.ts
  packages/server/modules/fileuploads/helpers/types.ts
  packages/server/modules/fileuploads/migrations/20250508190226_add_modelId_to_file_uploads.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/rest/router.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/tests/fileuploads.spec.ts
  packages/server/modules/fileuploads/tests/helpers/creation.ts
  packages/server/modules/fileuploads/tests/helpers/init.ts
  packages/server/modules/fileuploads/tests/integration/fileuploads.spec.ts
  packages/server/modules/fileuploads/tests/integration/fileuploadsV2.spec.ts
  packages/server/modules/fileuploads/tests/integration/results.spec.ts
Due: run-server-pipeline

feat: render different CardImportFileArea variants based on context
  packages/frontend-2/components/project/CardImportFileArea.vue
  packages/frontend-2/components/project/EmptyStateIllustration.vue
  packages/frontend-2/components/project/page/models/Card.vue
  packages/frontend-2/components/project/page/models/CardView.vue
  packages/frontend-2/components/project/page/models/ListView.vue
  packages/frontend-2/components/project/page/models/StructureItem.vue
  packages/frontend-2/components/projects/ProjectDashboardCard.vue
Due: run-frotend-pipeline

feat(fileimport-service): add next gen file importer
  packages/fileimport-service/package.json
  packages/fileimport-service/scripts/publishTask.ts
  packages/fileimport-service/src/bin.ts
  packages/fileimport-service/src/common/output.ts
  packages/fileimport-service/src/common/processHandling.ts
  packages/fileimport-service/src/controller/api.ts
  packages/fileimport-service/src/controller/daemon.ts
  packages/fileimport-service/src/controller/helpers/env.ts
  packages/fileimport-service/src/nextGen/config.ts
  packages/fileimport-service/src/nextGen/jobProcessor.ts
  packages/fileimport-service/src/nextGen/main.ts
  packages/fileimport-service/tsconfig.json
  packages/preview-service/eslint.config.mjs
  packages/shared/src/workers/fileimport/job.ts
  yarn.lock
Due: none

Removing ClientOnly wrapper
  packages/frontend-2/components/connectors/Page.vue
Due: run-frotend-pipeline

feat(fe): New descriptions. New hex colours.
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/ui.ts
  packages/frontend-2/lib/viewer/helpers/shortcuts/shortcuts.ts
Due: run-frotend-pipeline

feat(fe): add mixpanel. watch darkmode
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

moar cleanup
  packages/fileimport-service/src/bin.ts
  packages/fileimport-service/src/controller/api.ts
  packages/fileimport-service/src/controller/filesApi.ts
  packages/fileimport-service/src/ifc/import_file.js
  packages/fileimport-service/src/ifc/index.js
  packages/fileimport-service/src/ifc/parser.js
  packages/fileimport-service/src/knex.ts
  packages/fileimport-service/src/observability/logging.ts
  packages/frontend-2/lib/core/clients/mpServer.ts
  packages/frontend-2/server/lib/core/helpers/observability.ts
  packages/monitor-deployment/src/clients/knex.ts
  packages/monitor-deployment/src/observability/logging.ts
  packages/monitor-deployment/src/observability/metrics/replicationSlotLag.ts
  packages/monitor-deployment/src/observability/metrics/replicationWorkerLag.ts
  packages/monitor-deployment/src/observability/metrics/subscriptionsEnabled.ts
  packages/preview-service/src/logging.ts
  packages/server/modules/shared/utils/mixpanel.ts
  packages/server/package.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/observability/index.ts
  packages/webhook-service/src/knex.js
  packages/webhook-service/src/observability/logging.js
  yarn.lock
Due: run-server-pipeline, run-frotend-pipeline

fix(fe): fix dark mode watch
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

feat(fileimport) add file import job to nextGen import endpoint
  packages/server/modules/fileuploads/index.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/services/queue.ts
Due: run-server-pipeline

feat(fe): remove default emptyStateVariant
  packages/frontend-2/components/project/CardImportFileArea.vue
Due: run-frotend-pipeline

View Modes 1.5 (#4625)
  packages/frontend-2/components/viewer/menu/Item.vue
  packages/frontend-2/components/viewer/menu/Menu.vue
  packages/frontend-2/components/viewer/sun/Menu.vue
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
  packages/frontend-2/lib/viewer/composables/ui.ts
  packages/frontend-2/lib/viewer/helpers/shortcuts/shortcuts.ts
  packages/viewer-sandbox/src/Extensions/ViewModesKeys.ts
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/index.ts
  packages/viewer/src/modules/extensions/ViewModes.ts
  packages/viewer/src/modules/materials/shaders/speckle-edges-generator-frag.ts
  packages/viewer/src/modules/pipeline/Passes/DepthPass.ts
  packages/viewer/src/modules/pipeline/Passes/EdgesPass.ts
  packages/viewer/src/modules/pipeline/Passes/GPass.ts
  packages/viewer/src/modules/pipeline/Passes/ViewportPass.ts
  packages/viewer/src/modules/pipeline/Pipelines/ArcticViewPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/BasitViewPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/DefaultPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/EdgesPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/MRT/MRTEdgesPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/MRT/MRTPenViewPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/MRT/MRTShadedViewPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/PenViewPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/Pipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/ProgressivePipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/ShadedViewPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/SolidViewPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/TAAPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/TechnicalViewPipeline.ts
Due: run-frotend-pipeline, run-viewer-pipeline

refactor(fe): Use container classes
  packages/frontend-2/components/project/CardImportFileArea.vue
  packages/frontend-2/components/project/EmptyStateIllustration.vue
Due: run-frotend-pipeline

lint fixc
  packages/fileimport-service/src/ifc/parser.js
Due: none

feat(fe): remove click from full card upload area. Only on buttons
  packages/frontend-2/components/project/CardImportFileArea.vue
Due: run-frotend-pipeline

Only show white border on dark mode pen mode
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

Updated colours
  packages/frontend-2/components/viewer/view-modes/Menu.vue
Due: run-frotend-pipeline

users tests
  packages/server/modules/core/graph/resolvers/users.ts
  packages/server/modules/core/tests/integration/users.graph.spec.ts
  packages/server/modules/workspaces/tests/integration/projects.graph.spec.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/server/test/graphql/workspaces.ts
Due: run-server-pipeline

feat(shared): can publish and can load messages
  packages/shared/src/authz/policies/project/canLoad.ts
  packages/shared/src/authz/policies/project/canPublish.ts
Due: none

rely on canLoad and canPublish
  packages/dui3/components/common/ProjectModelGroup.vue
  packages/dui3/components/model/CardBase.vue
  packages/dui3/components/model/Receiver.vue
  packages/dui3/components/model/Sender.vue
  packages/dui3/components/wizard/ProjectSelector.vue
  packages/dui3/components/wizard/list/ProjectCard.vue
  packages/dui3/lib/common/generated/gql/gql.ts
  packages/dui3/lib/common/generated/gql/graphql.ts
  packages/dui3/lib/graphql/mutationsAndQueries.ts
Due: none

feat(shared): can publish and can load messages (#4700)
  packages/shared/src/authz/policies/project/canLoad.ts
  packages/shared/src/authz/policies/project/canPublish.ts
Due: none

Fix: Allow selecting of the default color
  packages/frontend-2/components/viewer/view-modes/Menu.vue
Due: run-frotend-pipeline

Update image digests
  packages/fileimport-service/Dockerfile
  packages/frontend-2/Dockerfile
  packages/monitor-deployment/Dockerfile
  packages/preview-service/Dockerfile
  packages/server/Dockerfile
  packages/webhook-service/Dockerfile
  utils/postgres/Dockerfile
  utils/test-deployment/Dockerfile
Due: run-server-pipeline, run-frotend-pipeline

feat(fileuploads): moved queue, organized code
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/index.ts
  packages/server/modules/fileuploads/queues/fileimports.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/createFileImport.ts
  packages/server/modules/fileuploads/services/management.ts
Due: run-server-pipeline

Mostly changes to sm variant + code cleanup
  packages/frontend-2/components/project/page/settings/general/block/Access.vue
  packages/frontend-2/components/project/page/settings/general/block/Discussions.vue
  packages/ui-components/src/components/form/RadioGroup.vue
Due: run-frotend-pipeline

Update toast when role is changed or removed from project
  packages/frontend-2/lib/projects/composables/projectManagement.ts
Due: run-frotend-pipeline

Use 2 column layout on bigger screens
  packages/frontend-2/components/project/page/collaborators/Collaborators.vue
Due: run-frotend-pipeline

Remove role dropdown from general access admins
  packages/frontend-2/components/project/page/collaborators/generalAccess/Admins.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/GeneralAccess.vue
Due: run-frotend-pipeline

Remove role dropdown from general access members
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
  packages/frontend-2/lib/projects/helpers/components.ts
Due: run-frotend-pipeline

Updates to empty states, clean up.
  packages/frontend-2/components/project/CardImportFileArea.vue
  packages/frontend-2/components/workspace/EmptyStateIllustration.vue
  packages/frontend-2/components/workspace/dashboard/ProjectList.vue
Due: run-frotend-pipeline

chore(fe): Updated border-radius to a tailwind value.
  packages/frontend-2/components/connectors/Banner.vue
Due: run-frotend-pipeline

feat(fe): update Connectors page with hero section, readability, and styling improvements (#4678)
  packages/frontend-2/components/connectors/Banner.vue
  packages/frontend-2/components/connectors/Card.vue
  packages/frontend-2/components/connectors/Page.vue
  packages/frontend-2/public/images/connectors/connectors_dark.png
  packages/frontend-2/public/images/connectors/connectors_light.png
Due: run-frotend-pipeline

Fix: Changes to Collaborators page + more (#4703)
  packages/frontend-2/components/project/page/collaborators/Collaborators.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/Admins.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/GeneralAccess.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
  packages/frontend-2/components/project/page/settings/general/block/Access.vue
  packages/frontend-2/components/project/page/settings/general/block/Discussions.vue
  packages/frontend-2/lib/projects/composables/projectManagement.ts
  packages/frontend-2/lib/projects/helpers/components.ts
  packages/ui-components/src/components/form/RadioGroup.vue
Due: run-frotend-pipeline

feat(fileuploads): add tests, refactoring
  packages/server/modules/fileuploads/queues/fileimports.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/createFileImport.ts
  packages/server/modules/fileuploads/tests/helpers/creation.ts
  packages/server/modules/fileuploads/tests/unit/fileuploads.spec.ts
Due: run-server-pipeline
