Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

CR comments
  .devcontainer/postCreateCommand.sh
  .gitguardian.yml
  packages/dui3/.env.example
  packages/fileimport-service/.env.example
  packages/frontend-2/.env.example
  packages/monitor-deployment/.env.example
  packages/preview-service/.env.example
  packages/server/.env.example
  packages/server/readme.md
  workspace.code-workspace
Due: run-server-pipeline, run-frotend-pipeline

fix(workspaces): corrected some mixpanel updates
  packages/server/modules/workspaces/events/eventListener.ts
Due: run-server-pipeline

fix(server): log errors at appropriate level - some objects endpoints were logging user-related errors at an incorrect log level
  packages/server/modules/core/rest/upload.ts
Due: run-server-pipeline

User errors should be info, not error level
  packages/server/modules/core/rest/upload.ts
Due: run-server-pipeline

chore(preview-frontend): Added lockfile
  yarn.lock
Due: none

remove irrelevant nesting
  packages/server/modules/core/rest/upload.ts
Due: run-server-pipeline

fix(automate): filter out deleted automation runs (#4717)
  packages/server/modules/automate/graph/resolvers/automate.ts
  packages/server/modules/automate/repositories/automations.ts
Due: run-server-pipeline

fix(automate): return null if not a function (#4716)
  packages/server/modules/automate/graph/resolvers/automate.ts
Due: run-server-pipeline

try to move stuff out of objectloader2
  packages/objectloader2/src/helpers/aggregateQueue.ts
  packages/objectloader2/src/helpers/cachePump.ts
  packages/objectloader2/src/helpers/memoryPump.ts
  packages/objectloader2/src/helpers/pump.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.spec.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/options.ts
Due: none

Update ui.ts
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

fix: disable pino-pretty in inspector to avoid freezes (#4718)
  .devcontainer/postCreateCommand.sh
  .gitguardian.yml
  packages/dui3/.env.example
  packages/fileimport-service/.env.example
  packages/frontend-2/.env.example
  packages/monitor-deployment/.env.example
  packages/preview-service/.env.example
  packages/server/.env.example
  packages/server/readme.md
  packages/shared/src/observability/index.ts
  workspace.code-workspace
Due: run-server-pipeline, run-frotend-pipeline

fix: clean the state of urlParseError when dialog visibility has changed
  packages/dui3/components/receive/Wizard.vue
  packages/dui3/components/send/Wizard.vue
Due: none

fix(workspace): info pushed
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
Due: run-server-pipeline

use a factory
  packages/objectloader2/src/index.ts
  packages/objectloader2/src/operations/databases/indexedDatabase.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/objectLoaderFactory.ts
  packages/objectloader2/src/operations/options.ts
  packages/objectloader2/src/operations/traverser.ts
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleConverter.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleOfflineLoader.ts
Due: run-viewer-pipeline

rename factory
  packages/objectloader2/src/index.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/objectLoader2Factory.ts
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleOfflineLoader.ts
Due: run-viewer-pipeline

formatting
  packages/objectloader2/src/helpers/cachePump.ts
  packages/objectloader2/src/operations/databases/indexedDatabase.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
Due: none

Fix reset project
  packages/frontend-2/components/invite/dialog/Workspace.vue
Due: run-frotend-pipeline

feat: update datadog cli to hopefully fix node22 issue in ci
  package.json
  packages/frontend-2/package.json
  yarn.lock
Due: run-frotend-pipeline

feat: update datadog cli to hopefully fix node22 issue in ci (#4722)
  package.json
  packages/frontend-2/package.json
  yarn.lock
Due: run-frotend-pipeline

Feat: Add project selector to guest workspace invites (#4714)
  packages/frontend-2/components/invite/dialog/Workspace.vue
  packages/frontend-2/components/invite/dialog/shared/SelectUsers.vue
Due: run-frotend-pipeline

fix(server): log message includes all referenced properties
  packages/server/modules/core/services/objects/management.ts
Due: run-server-pipeline

chore: vuln scan increased resources to fix memory issue
  .circleci/config.yml
Due: none

chore: vuln scan increased resources to fix memory issue (#4723)
  .circleci/config.yml
Due: none

more error handling and logging fixes
  packages/server/modules/auth/services/mailchimp.ts
  packages/server/modules/previews/resultListener.ts
Due: run-server-pipeline

fix: review
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
Due: run-server-pipeline

feat(fe): new empty state illustrations refactor
  packages/frontend-2/components/global/illustration/emptystate/Project.vue
  packages/frontend-2/components/global/illustration/emptystate/Workspace.vue
  packages/frontend-2/components/project/CardImportFileArea.vue
  packages/frontend-2/components/project/EmptyStateIllustration.vue
  packages/frontend-2/components/workspace/dashboard/ProjectList.vue
Due: run-frotend-pipeline

eslist fixes
  packages/objectloader2/src/operations/objectLoader2.spec.ts
  packages/objectloader2/src/operations/options.ts
  packages/objectloader2/src/operations/traverser.spec.ts
  packages/objectloader2/src/test/e2e.spec.ts
Due: none

Chore: Remove all noPersonalEmails related logic
  packages/frontend-2/components/auth/RegisterWithEmailBlock.vue
  packages/frontend-2/composables/globals.ts
  packages/frontend-2/lib/auth/helpers/validation.ts
  utils/helm/speckle-server/templates/_helpers.tpl
  utils/helm/speckle-server/templates/frontend_2/deployment.yml
  utils/helm/speckle-server/values.yaml
Due: run-frotend-pipeline

fix(server/auth): handle InviteNotFoundError and simplify handling
  packages/server/modules/auth/services/passportService.ts
Due: run-server-pipeline

fix(automate): set default input values in function input form
  packages/frontend-2/components/form/json/Form.vue
  packages/frontend-2/package.json
  packages/server/modules/automate/graph/mocks/automate.ts
  yarn.lock
Due: run-server-pipeline, run-frotend-pipeline

fix
  packages/server/modules/auth/services/passportService.ts
Due: run-server-pipeline

fix: remove unnecessary available seat calculation
  packages/frontend-2/lib/workspaces/composables/plan.ts
Due: run-frotend-pipeline

removing nested selectors and clean up
  packages/frontend-2/components/project/CardImportFileArea.vue
  packages/frontend-2/components/project/page/models/CardView.vue
Due: run-frotend-pipeline

fix(viewer-lib): Edges pipeline now is explicit about which object visibilities to render, avoiding rendering colored masked objects (#4719)
  packages/viewer/src/modules/pipeline/Passes/DepthNormalPass.ts
  packages/viewer/src/modules/pipeline/Pipelines/EdgesPipeline.ts
Due: run-viewer-pipeline

schema
  utils/helm/speckle-server/values.schema.json
Due: none

Chore: Remove all noPersonalEmails related logic (#4726)
  packages/frontend-2/components/auth/RegisterWithEmailBlock.vue
  packages/frontend-2/composables/globals.ts
  packages/frontend-2/lib/auth/helpers/validation.ts
  utils/helm/speckle-server/templates/_helpers.tpl
  utils/helm/speckle-server/templates/frontend_2/deployment.yml
  utils/helm/speckle-server/values.schema.json
  utils/helm/speckle-server/values.yaml
Due: run-frotend-pipeline

renders up to 50?
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleGeometryConverter.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
  packages/viewer/src/modules/tree/RenderTree.ts
Due: run-viewer-pipeline

clena up
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleGeometryConverter.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
Due: run-frotend-pipeline, run-viewer-pipeline

fix to match test expectations
  packages/server/modules/auth/services/passportService.ts
Due: run-server-pipeline

Path conditions:
  run-server-pipeline: any of: packages/server/.*
  run-frotend-pipeline: any of: packages/frontend-2/.*
  run-viewer-pipeline: any of: packages/viewer/.*
