Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

fix: precommit
  .github/workflows/wip.yml
Due: none

authz tests
  packages/server/modules/shared/authz.ts
  packages/server/modules/shared/test/authz.spec.ts
Due: run-server-pipeline

CR comment
  packages/shared/src/environment/index.ts
Due: none

chore(server): migrate remaining tests to TS (#4772)
  .gitguardian.yml
  packages/server/modules/auth/tests/apps.graphql.spec.ts
  packages/server/modules/auth/tests/apps.spec.ts
  packages/server/modules/core/tests/init.spec.ts
  packages/server/modules/pwdreset/tests/pwdrest.spec.ts
  packages/server/modules/shared/authz.ts
  packages/server/modules/shared/test/authz.spec.ts
Due: run-server-pipeline

feat: add speckleConBannerDismissed to activeUser.meta
  packages/frontend-2/components/dashboard/Promo.vue
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/user/composables/meta.ts
  packages/server/assets/core/typedefs/userMeta.graphql
  packages/server/modules/core/dbSchema.ts
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/core/graph/resolvers/users.ts
  packages/server/modules/core/tests/helpers/graphql.ts
  packages/server/modules/core/tests/integration/userMeta.graph.spec.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline, run-frotend-pipeline

feat: test-server ci
  .circleci/config.yml
  .github/workflows/tests.yml
  .github/workflows/wip.yml
Due: none

Feat: Add option to hide Speckle branding on embed
  packages/frontend-2/components/project/model-page/dialog/embed/Embed.vue
  packages/frontend-2/components/project/page/team/dialog/ManagePermissions.vue
  packages/frontend-2/components/viewer/PreSetupWrapper.vue
  packages/frontend-2/components/viewer/embed/Footer.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/settings/graphql/mutations.ts
  packages/frontend-2/pages/settings/workspaces/[slug]/general.vue
  packages/shared/src/workspaces/helpers/features.ts
  packages/ui-components/src/components/form/TextArea.vue
Due: run-frotend-pipeline

fix(fe): Add canCreateModel check to ProjectDashboardCard empty state
  packages/frontend-2/components/projects/ProjectDashboardCard.vue
Due: run-frotend-pipeline

Feat: Add option to hide Speckle branding on embed
  packages/frontend-2/pages/settings/workspaces/[slug]/general.vue
Due: run-frotend-pipeline

some extra fixes
  packages/server/bootstrap.js
  packages/server/modules/cross-server-sync/services/commit.ts
  packages/server/modules/cross-server-sync/utils/graphqlClient.ts
  packages/server/modules/index.ts
  packages/server/modules/previews/rest/router.ts
  packages/server/observability/utils/logLevels.ts
  packages/server/test/graphqlHelper.ts
Due: run-server-pipeline

Update plan features
  packages/shared/src/workspaces/helpers/features.ts
Due: none

linting
  packages/frontend-2/components/project/VisibilitySelect.vue
Due: run-frotend-pipeline

fix: test-server ci
  .github/workflows/wip.yml
Due: none

Feat: Add option to hide Speckle branding on embed (#4777)
  packages/frontend-2/components/project/VisibilitySelect.vue
  packages/frontend-2/components/project/model-page/dialog/embed/Embed.vue
  packages/frontend-2/components/project/page/team/dialog/ManagePermissions.vue
  packages/frontend-2/components/viewer/PreSetupWrapper.vue
  packages/frontend-2/components/viewer/embed/Footer.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/settings/graphql/mutations.ts
  packages/frontend-2/pages/settings/workspaces/[slug]/general.vue
  packages/shared/src/workspaces/helpers/features.ts
  packages/ui-components/src/components/form/TextArea.vue
Due: run-frotend-pipeline

chore(frontend): Attempt to make viewer loading sequential
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
Due: run-frotend-pipeline

fix: test-server ci
  .circleci/config.yml
Due: none

fix(server): test typing fixes
  packages/server/modules/fileuploads/services/createFileImport.ts
  packages/server/modules/fileuploads/tests/unit/fileuploads.spec.ts
Due: run-server-pipeline

fix: get_version
  .github/workflows/tests.yml
  .github/workflows/wip.yml
Due: none

fix: get_version
  .github/workflows/scripts/common.sh
Due: none

fix: get_version
  .github/workflows/wip.yml
Due: none

Feat: Add embed option to disable title link
  packages/frontend-2/components/project/model-page/dialog/embed/Embed.vue
  packages/frontend-2/components/viewer/PreSetupWrapper.vue
  packages/frontend-2/components/viewer/embed/Footer.vue
  packages/frontend-2/lib/viewer/composables/setup/embed.ts
  packages/frontend-2/middleware/002-redirects.global.ts
Due: run-frotend-pipeline

fix
  packages/frontend-2/middleware/002-redirects.global.ts
Due: run-frotend-pipeline

Path conditions:
  run-server-pipeline: any of: packages/server/.*
  run-frotend-pipeline: any of: packages/frontend-2/.*
  run-viewer-pipeline: any of: packages/viewer/.*
