Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

feat: update to workspaces
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/retrieval.ts
  packages/server/modules/workspaces/tests/integration/repositories.spec.ts
Due: run-server-pipeline

feat(viewer): embedded viewer option to hide speckle branding
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/graph/resolvers/projects.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/management.ts
  packages/server/modules/workspacesCore/domain/types.ts
  packages/server/modules/workspacesCore/graph/resolvers/workspacesCore.ts
  packages/server/modules/workspacesCore/helpers/db.ts
  packages/server/modules/workspacesCore/migrations/20250516130608_add_workspace_embed_options.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline, run-frotend-pipeline

fix tests
  .circleci/config.yml
  packages/server/modules/core/tests/commitsGraphql.spec.ts
  packages/server/modules/gatekeeper/tests/integration/workspace.graph.spec.ts
  packages/shared/src/authz/policies/project/model/canCreate.spec.ts
Due: run-server-pipeline

fix: flaky test
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
Due: run-server-pipeline

chore(server/logging): do not log Express if logged by Apollo - requests to `/graphql` are logged by Apollo middleware, so no need to also log by Express - Should reduce log volume by around one third
  packages/server/observability/components/express/expressLogging.ts
Due: run-server-pipeline

tidy code
  packages/server/observability/components/express/expressLogging.ts
Due: run-server-pipeline

chore(viewer): can edit embed options policy
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/workspacesCore/typedefs/permissions.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/graph/resolvers/permissions.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/shared/src/authz/domain/authErrors.ts
  packages/shared/src/authz/policies/index.ts
  packages/shared/src/authz/policies/project/canMoveToWorkspace.ts
  packages/shared/src/authz/policies/workspace/canUpdateEmbedOptions.ts
  packages/shared/src/workspaces/helpers/features.ts
Due: run-server-pipeline, run-frotend-pipeline

fix(server/workspaces): gracefully handle duplicate workspace join requests
  packages/server/modules/workspaces/tests/integration/workspaceJoinRequests.spec.ts
Due: run-server-pipeline

missing await
  packages/server/modules/workspaces/tests/integration/workspaceJoinRequests.spec.ts
Due: run-server-pipeline

fix(server/workspaces): handle duplicate join request
  packages/server/modules/workspaces/errors/workspace.ts
  packages/server/modules/workspaces/services/workspaceJoinRequests.ts
  packages/server/modules/workspaces/tests/integration/workspaceJoinRequests.spec.ts
Due: run-server-pipeline

Update image digests
  packages/fileimport-service/Dockerfile
  packages/frontend-2/Dockerfile
  packages/monitor-deployment/Dockerfile
  packages/preview-service/Dockerfile
  packages/server/Dockerfile
  packages/webhook-service/Dockerfile
  utils/postgres/Dockerfile
  utils/test-deployment/Dockerfile
Due: run-server-pipeline, run-frotend-pipeline

chore(embeds): tests for new policy and gql
  packages/server/modules/shared/helpers/errorHelper.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/modules/workspaces/tests/unit/services/management.spec.ts
  packages/server/modules/workspaces/tests/unit/services/sso.spec.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/server/test/graphql/workspaces.ts
  packages/server/test/speckle-helpers/workspaces.ts
  packages/shared/src/authz/policies/workspace/canUpdateEmbedOptions.spec.ts
Due: run-server-pipeline

fix: mr comments
  packages/server/modules/core/helpers/testHelpers.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/repositories.spec.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/test/authHelper.ts
Due: run-server-pipeline

feat: added a chron job that updates all workspaces properties
  packages/server/modules/shared/test/hepers/creation.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/index.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/tracking.ts
  packages/server/modules/workspaces/tests/integration/tracking.spec.ts
Due: run-server-pipeline

Oriented Section Tool (#4230)
  packages/frontend-2/lib/viewer/composables/serialization.ts
  packages/frontend-2/lib/viewer/composables/setup.ts
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
  packages/frontend-2/lib/viewer/composables/ui.ts
  packages/server/modules/comments/services/data.ts
  packages/shared/src/viewer/helpers/state.ts
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/index.ts
  packages/viewer/src/modules/Intersections.ts
  packages/viewer/src/modules/LegacyViewer.ts
  packages/viewer/src/modules/SpeckleRenderer.ts
  packages/viewer/src/modules/World.ts
  packages/viewer/src/modules/extensions/CameraController.ts
  packages/viewer/src/modules/extensions/Controls.js
  packages/viewer/src/modules/extensions/SectionTool.ts
  packages/viewer/src/modules/extensions/TransformControls.js
  packages/viewer/src/modules/extensions/sections/OrientedSectionTool.ts
  packages/viewer/src/modules/extensions/sections/SectionOutlines.ts
  packages/viewer/src/modules/extensions/sections/SectionTool.ts
  packages/viewer/src/type-augmentations/three-extensions.ts
  packages/viewer/src/type-augmentations/three.d.ts
Due: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

feat(fileimports): integrate server and fileimporter
  packages/fileimport-service/src/nextGen/jobProcessor.ts
  packages/fileimport-service/src/nextGen/main.ts
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/migrations/20250519074720_fileimport_message_text.ts
  packages/server/modules/fileuploads/queues/fileimports.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/createFileImport.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/services/resultHandler.ts
  packages/server/modules/fileuploads/tests/helpers/creation.ts
  packages/shared/src/workers/fileimport/job.ts
Due: run-server-pipeline

make it idempotent, not an error
  packages/server/modules/workspaces/errors/workspace.ts
  packages/server/modules/workspaces/services/workspaceJoinRequests.ts
  packages/server/modules/workspaces/tests/integration/workspaceJoinRequests.spec.ts
Due: run-server-pipeline

shared tests fix
  packages/shared/src/authz/fragments/projects.spec.ts
  packages/shared/src/authz/policies/project/automation/canCreate.spec.ts
  packages/shared/src/authz/policies/project/automation/canDelete.spec.ts
  packages/shared/src/authz/policies/project/automation/canRead.spec.ts
  packages/shared/src/authz/policies/project/automation/canUpdate.spec.ts
  packages/shared/src/authz/policies/project/canBroadcastActivity.spec.ts
  packages/shared/src/authz/policies/project/canCreatePersonal.spec.ts
  packages/shared/src/authz/policies/project/canDelete.spec.ts
  packages/shared/src/authz/policies/project/canInvite.spec.ts
  packages/shared/src/authz/policies/project/canLeave.spec.ts
  packages/shared/src/authz/policies/project/canLoad.spec.ts
  packages/shared/src/authz/policies/project/canMoveToWorkspace.spec.ts
  packages/shared/src/authz/policies/project/canPublish.spec.ts
  packages/shared/src/authz/policies/project/canRead.spec.ts
  packages/shared/src/authz/policies/project/canReadSettings.spec.ts
  packages/shared/src/authz/policies/project/canReadWebhooks.spec.ts
  packages/shared/src/authz/policies/project/canUpdate.spec.ts
  packages/shared/src/authz/policies/project/canUpdateAllowPublicComments.spec.ts
  packages/shared/src/authz/policies/project/comment/canArchive.spec.ts
  packages/shared/src/authz/policies/project/comment/canCreate.spec.ts
  packages/shared/src/authz/policies/project/comment/canEdit.spec.ts
  packages/shared/src/authz/policies/project/model/canCreate.spec.ts
  packages/shared/src/authz/policies/project/model/canDelete.spec.ts
  packages/shared/src/authz/policies/project/model/canUpdate.spec.ts
  packages/shared/src/authz/policies/project/version/canCreate.spec.ts
  packages/shared/src/authz/policies/project/version/canReceive.spec.ts
  packages/shared/src/authz/policies/project/version/canRequestRender.spec.ts
  packages/shared/src/authz/policies/project/version/canUpdate.spec.ts
  packages/shared/src/authz/policies/workspace/canCreateWorkspaceProject.spec.ts
  packages/shared/src/environment/index.ts
  packages/shared/src/tests/fakes.ts
  workspace.code-workspace
Due: none

lodash import fix
  packages/shared/src/environment/index.ts
  packages/shared/src/package.json
Due: none

lint fix
  packages/shared/src/package.json
  packages/shared/src/tests/fakes.ts
Due: none

help update
  utils/helm/speckle-server/templates/_helpers.tpl
  utils/helm/speckle-server/values.schema.json
  utils/helm/speckle-server/values.yaml
Due: none

feat(workspaces): backfill workspace tracking (#4749)
  packages/server/modules/shared/test/hepers/creation.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/index.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/tracking.ts
  packages/server/modules/workspaces/tests/integration/tracking.spec.ts
Due: run-server-pipeline

Incorporate PR comment
  packages/server/modules/workspaces/repositories/workspaceJoinRequests.ts
  packages/server/modules/workspaces/services/workspaceJoinRequests.ts
Due: run-server-pipeline

hopefully fixing test
  packages/server/modules/multiregion/tests/e2e/projects.graph.spec.ts
Due: run-server-pipeline

feat(ci): try blacksmith
  .github/workflows/pull-request.yml
Due: none

fix: try global cache enabled
  .yarnrc.yml
Due: none

refactor(ci): moved test-objectsender to gha
  .github/workflows/pull-request.yml
Due: none

ignore tshy
  .gitignore
  packages/objectloader2/.tshy/build.json
  packages/objectloader2/.tshy/commonjs.json
  packages/objectloader2/.tshy/esm.json
Due: none

Resolve merge conflict
  packages/server/modules/previews/clients/bull.ts
  packages/server/modules/previews/domain/operations.ts
  packages/server/modules/previews/resultListener.ts
Due: run-server-pipeline

fix(viewer-lib): Fixes WEB-3432
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleConverter.ts
Due: run-viewer-pipeline

fix(viewer-lib): Fixes WEB-3432 (#4763)
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleConverter.ts
Due: run-viewer-pipeline

refactor(ci): added back cache ignore, added aliases
  .github/workflows/pull-request.yml
  .yarnrc.yml
Due: none

fix: remove anchors
  .github/workflows/pull-request.yml
Due: none

refactor(ci): try out blacksmith cache
  .github/workflows/pull-request.yml
Due: none

feat(ci): try volume mount
  .github/workflows/pull-request.yml
Due: none

feat(viewer-lib): Shadowmap now also renders properly with selective RTE
  packages/viewer/src/modules/SpeckleRenderer.ts
  packages/viewer/src/modules/objects/SpeckleInstancedMesh.ts
Due: run-viewer-pipeline

feat(workspaces): toggle embedded viewer branding (#4762)
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/workspacesCore/typedefs/permissions.graphql
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/shared/helpers/errorHelper.ts
  packages/server/modules/workspaces/graph/resolvers/permissions.ts
  packages/server/modules/workspaces/graph/resolvers/projects.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/management.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/modules/workspaces/tests/unit/services/management.spec.ts
  packages/server/modules/workspaces/tests/unit/services/sso.spec.ts
  packages/server/modules/workspacesCore/domain/types.ts
  packages/server/modules/workspacesCore/graph/resolvers/workspacesCore.ts
  packages/server/modules/workspacesCore/helpers/db.ts
  packages/server/modules/workspacesCore/migrations/20250516130608_add_workspace_embed_options.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/server/test/graphql/workspaces.ts
  packages/server/test/speckle-helpers/workspaces.ts
  packages/shared/src/authz/domain/authErrors.ts
  packages/shared/src/authz/policies/index.ts
  packages/shared/src/authz/policies/project/canMoveToWorkspace.ts
  packages/shared/src/authz/policies/workspace/canUpdateEmbedOptions.spec.ts
  packages/shared/src/authz/policies/workspace/canUpdateEmbedOptions.ts
  packages/shared/src/workspaces/helpers/features.ts
Due: run-server-pipeline, run-frotend-pipeline

Fix pipeline
  packages/frontend-2/package.json
  yarn.lock
Due: run-frotend-pipeline

remove survicate again, lets see
  packages/frontend-2/package.json
Due: run-frotend-pipeline
