Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

fix(viewer-lib): Loader disposes of the object loader instance after it's not longer required (#4783)
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
Due: run-viewer-pipeline

fix(fe): hide automations tab from workspace guests
  packages/frontend-2/pages/projects/[id]/index.vue
Due: run-frotend-pipeline

feat(gatekeeper): add updatedAt field to workspace plans
  packages/server/modules/gatekeeper/services/checkout.ts
  packages/server/modules/gatekeeper/services/subscriptions/upgradeWorkspaceSubscription.ts
  packages/server/modules/gatekeeper/services/workspacePlans.ts
  packages/server/modules/gatekeeper/tests/integration/billingRepositories.spec.ts
  packages/server/modules/gatekeeper/tests/intergration/repositories/workspacePlan.spec.ts
  packages/server/modules/gatekeeper/tests/unit/checkout.spec.ts
  packages/server/modules/gatekeeper/tests/unit/featureAuthorization.spec.ts
  packages/server/modules/gatekeeper/tests/unit/subscriptions.spec.ts
  packages/server/modules/gatekeeper/tests/unit/workspacePlans.spec.ts
  packages/server/modules/gatekeeperCore/migrations/20250521102621_add_updatedAt_to_workspace_plans.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/services/tracking.ts
  packages/shared/src/workspaces/helpers/plans.ts
Due: run-server-pipeline

fix: optional chaining
  packages/frontend-2/pages/projects/[id]/index.vue
Due: run-frotend-pipeline

fix: lint error
  packages/shared/src/authz/policies/project/canMoveToWorkspace.spec.ts
  packages/shared/src/authz/policies/workspace/canUpdateEmbedOptions.spec.ts
Due: none

Fix: Some intercom improvements (#4782)
  packages/frontend-2/components/workspace/dashboard/Dashboard.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/workspaces/composables/wizard.ts
Due: run-frotend-pipeline

fix(workspaces): include auto-join flag on LimitedWorkspace
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/domain/logic.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/retrieval.ts
  packages/server/modules/workspacesCore/domain/types.ts
  packages/server/modules/workspacesCore/helpers/graphTypes.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline, run-frotend-pipeline

fix serverDownloader disposal. Correct linting errors
  packages/objectloader2/src/helpers/cachePump.spec.ts
  packages/objectloader2/src/helpers/cacheReader.spec.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.spec.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
Due: none

chore(docker compose deps): use valkey instead of redis - redis moved to dual licensing - valkey is the open source fork supported by the linux foundation
  README.md
  docker-compose-deps.yml
Due: none

feat(fe): show admins in discoverable workspace card
  packages/frontend-2/components/workspace/discoverableWorkspaces/Card.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/workspaces/composables/discoverableWorkspaces.ts
Due: run-frotend-pipeline

Condensed workspace card
  packages/frontend-2/components/workspace/Card.vue
  packages/frontend-2/components/workspace/discoverableWorkspaces/Card.vue
  packages/frontend-2/components/workspace/discoverableWorkspaces/Modal.vue
Due: run-frotend-pipeline

fix: added updatedAt test
  packages/server/modules/gatekeeper/repositories/billing.ts
  packages/server/modules/gatekeeper/tests/intergration/repositories/workspacePlan.spec.ts
Due: run-server-pipeline

update deployment test
  .circleci/deployment/Tiltfile.build
  .circleci/deployment/Tiltfile.helm
  .circleci/deployment/manifests/speckle-server.secret.yaml
  .circleci/deployment/manifests/valkey.namespace.yaml
  .circleci/deployment/values/nginx.values.yaml
  .circleci/deployment/values/valkey.values.yaml
Due: none

add vide coded disposals and tests
  packages/objectloader2/src/helpers/batchedPool.ts
  packages/objectloader2/src/helpers/batchingQueue.ts
  packages/objectloader2/src/helpers/cachePump.disposal.spec.ts
  packages/objectloader2/src/helpers/cachePump.spec.ts
  packages/objectloader2/src/helpers/cachePump.ts
  packages/objectloader2/src/helpers/defermentManager.disposal.spec.ts
  packages/objectloader2/src/helpers/defermentManager.ts
Due: none

remove extra disposal
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
Due: run-viewer-pipeline

simplify the error handling
  packages/objectloader2/src/helpers/batchedPool.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
Due: none

Need to bump to version 8
  docker-compose-deps.yml
Due: none

chore(workspaces): gqlgen
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
Due: run-frotend-pipeline

ProjectsAdd wrapper
  packages/frontend-2/components/projects/Add.vue
  packages/frontend-2/components/projects/AddInWorkspaceDialog.vue
  packages/frontend-2/components/projects/Dashboard.vue
  packages/frontend-2/components/settings/shared/projects/index.vue
  packages/frontend-2/components/workspace/AddProjectMenu.vue
  packages/frontend-2/lib/auth/composables/activeUser.ts
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/projects/composables/permissions.ts
  packages/frontend-2/lib/server-management/graphql/queries.ts
  packages/frontend-2/lib/workspaces/composables/projects/permissions.ts
  packages/frontend-2/pages/settings/server/projects.vue
  packages/frontend-2/pages/settings/workspaces/[slug]/projects.vue
Due: run-frotend-pipeline

feat(embed): expose embed feature access at project level
  packages/server/assets/gatekeeperCore/typedefs/gatekeeper.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/gatekeeper/graph/resolvers/index.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline

fix(fileimports): test and pr comment fixes
  packages/fileimport-service/src/nextGen/jobProcessor.ts
  packages/fileimport-service/src/nextGen/main.ts
  packages/server/modules/core/errors/model.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/createFileImport.ts
  packages/server/modules/fileuploads/tests/integration/fileuploadsV2.spec.ts
Due: run-server-pipeline

fix(viewer-lib): Implemented event for explode extension that allows section outline to sync up
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/index.ts
  packages/viewer/src/modules/extensions/ExplodeExtension.ts
Due: run-frotend-pipeline, run-viewer-pipeline

feat(fileimports: moare test fixes
  packages/server/modules/fileuploads/tests/integration/results.spec.ts
  packages/shared/src/workers/fileimport/job.ts
Due: run-server-pipeline

chore(sandbox): Fixed compile error
  packages/viewer-sandbox/src/Sandbox.ts
Due: none

chore(yarn): move postinstall to yarn build:public
  .husky/pre-commit
  package.json
  packages/frontend-2/package.json
Due: run-frotend-pipeline

split where called
  package.json
  packages/frontend-2/package.json
Due: run-frotend-pipeline

fix(frontend): typo: lose, loose, louse, luce
  packages/frontend-2/components/workspace/wizard/CancelDialog.vue
Due: run-frotend-pipeline

fix(frontend): typo: lose, loose, louse, luce (#4794)
  packages/frontend-2/components/workspace/wizard/CancelDialog.vue
Due: run-frotend-pipeline

no need for foreach
  package.json
  packages/server/.mocharc.js
Due: run-server-pipeline

try cache again
  .circleci/config.yml
  packages/webhook-service/Dockerfile
Due: none

Expand cache
  .circleci/config.yml
Due: none

Expand to more cached directories
  .circleci/config.yml
Due: none

fix
  .circleci/config.yml
Due: none

cache bcrypt
  .circleci/config.yml
Due: none

Target more lengthy node_modules builds
  .circleci/config.yml
Due: none

Fix workflow
  .circleci/config.yml
Due: none

fix(viewer-lib): Added relative epsilon to section outlines. Added constant epsilon to setting orbit controls position and target (#4781)
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/extensions/controls/SmoothOrbitControls.ts
  packages/viewer/src/modules/extensions/sections/SectionOutlines.ts
Due: run-viewer-pipeline

More workflow changes
  .circleci/config.yml
Due: none

feat: test server
  .github/workflows/builds.yml
  .github/workflows/wip.yml
Due: none

Explode + Outlines (#4792)
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/index.ts
  packages/viewer/src/modules/extensions/ExplodeExtension.ts
Due: run-frotend-pipeline, run-viewer-pipeline

Path conditions:
  run-server-pipeline: any of: packages/server/.*
  run-frotend-pipeline: any of: packages/frontend-2/.*
  run-viewer-pipeline: any of: packages/viewer/.*
