Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

Chore: Updated icon for "book an intro call" to match the style of the already used icons (#4668)
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/components/global/icon/Calendar.vue
Due: run-frotend-pipeline

fix(automate): throw better if automation not found in gql
  packages/frontend-2/pages/projects/[id]/index/automations/[aid].vue
  packages/server/modules/automate/graph/resolvers/automate.ts
Due: run-server-pipeline, run-frotend-pipeline

add deferment disposal
  packages/objectloader2/src/operations/objectLoader2.ts
Due: none

fix(automate): throw better if automation not found in gql (#4669)
  packages/frontend-2/pages/projects/[id]/index/automations/[aid].vue
  packages/server/modules/automate/graph/resolvers/automate.ts
Due: run-server-pipeline, run-frotend-pipeline

feat(automate): create test automations without functions (#4657)
  packages/frontend-2/components/automate/automation/CreateDialog.vue
  packages/frontend-2/components/project/page/automation/TestAutomationInfo.vue
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/pages/projects/[id]/index/automations/[aid].vue
  packages/server/assets/automate/typedefs/automate.graphql
  packages/server/modules/automate/graph/resolvers/automate.ts
  packages/server/modules/automate/repositories/automations.ts
  packages/server/modules/automate/services/automationManagement.ts
  packages/server/modules/automate/services/trigger.ts
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline, run-frotend-pipeline

oops mismerge
  packages/viewer-sandbox/src/main.ts
Due: none

Feat: Dont show sidebar if not part of workspace
  packages/frontend-2/components/dashboard/Sidebar.vue
Due: run-frotend-pipeline

feat(server): workspace project invites as implicit workspace invites (#4634)
  packages/server/modules/core/dbSchema.ts
  packages/server/modules/serverinvites/domain/operations.ts
  packages/server/modules/serverinvites/domain/types.ts
  packages/server/modules/serverinvites/graph/resolvers/serverInvites.ts
  packages/server/modules/serverinvites/repositories/serverInvites.ts
  packages/server/modules/serverinvites/services/creation.ts
  packages/server/modules/serverinvites/services/operations.ts
  packages/server/modules/serverinvites/services/processing.ts
  packages/server/modules/serverinvites/services/projectInviteManagement.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/domain/types.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/projects.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/invites.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/invites.graph.spec.ts
Due: run-server-pipeline

feat(fe): View mode menu changes with no integration
  packages/frontend-2/components/viewer/menu/Item.vue
  packages/frontend-2/components/viewer/menu/Menu.vue
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/helpers/shortcuts/shortcuts.ts
Due: run-frotend-pipeline

fix(authz): canPublish and canLoad policies
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/core/typedefs/permissions.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/core/graph/resolvers/permissions.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/shared/src/authz/policies/index.ts
  packages/shared/src/authz/policies/project/canLoad.spec.ts
  packages/shared/src/authz/policies/project/canLoad.ts
  packages/shared/src/authz/policies/project/canPublish.spec.ts
  packages/shared/src/authz/policies/project/canPublish.ts
Due: run-server-pipeline, run-frotend-pipeline

feat(fe): Frontend view mode menu integration
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/ui.ts
  packages/frontend-2/lib/viewer/helpers/shortcuts/shortcuts.ts
Due: run-frotend-pipeline

Revert "feat(server): workspace project invites as implicit workspace invites…"
  packages/server/modules/core/dbSchema.ts
  packages/server/modules/serverinvites/domain/operations.ts
  packages/server/modules/serverinvites/domain/types.ts
  packages/server/modules/serverinvites/graph/resolvers/serverInvites.ts
  packages/server/modules/serverinvites/repositories/serverInvites.ts
  packages/server/modules/serverinvites/services/creation.ts
  packages/server/modules/serverinvites/services/operations.ts
  packages/server/modules/serverinvites/services/processing.ts
  packages/server/modules/serverinvites/services/projectInviteManagement.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/domain/types.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/projects.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/invites.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/invites.graph.spec.ts
Due: run-server-pipeline

Revert "feat(server): workspace project invites as implicit workspace invites…" (#4671)
  packages/server/modules/core/dbSchema.ts
  packages/server/modules/serverinvites/domain/operations.ts
  packages/server/modules/serverinvites/domain/types.ts
  packages/server/modules/serverinvites/graph/resolvers/serverInvites.ts
  packages/server/modules/serverinvites/repositories/serverInvites.ts
  packages/server/modules/serverinvites/services/creation.ts
  packages/server/modules/serverinvites/services/operations.ts
  packages/server/modules/serverinvites/services/processing.ts
  packages/server/modules/serverinvites/services/projectInviteManagement.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/domain/types.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/projects.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/invites.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/invites.graph.spec.ts
Due: run-server-pipeline

Revert "Revert "feat(server): workspace project invites as implicit workspace…"
  packages/server/modules/core/dbSchema.ts
  packages/server/modules/serverinvites/domain/operations.ts
  packages/server/modules/serverinvites/domain/types.ts
  packages/server/modules/serverinvites/graph/resolvers/serverInvites.ts
  packages/server/modules/serverinvites/repositories/serverInvites.ts
  packages/server/modules/serverinvites/services/creation.ts
  packages/server/modules/serverinvites/services/operations.ts
  packages/server/modules/serverinvites/services/processing.ts
  packages/server/modules/serverinvites/services/projectInviteManagement.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/domain/types.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/projects.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/invites.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/invites.graph.spec.ts
Due: run-server-pipeline

fix(authz): canPublish and canLoad policies (#4673)
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/core/typedefs/permissions.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/core/graph/resolvers/permissions.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/shared/src/authz/policies/index.ts
  packages/shared/src/authz/policies/project/canLoad.spec.ts
  packages/shared/src/authz/policies/project/canLoad.ts
  packages/shared/src/authz/policies/project/canPublish.spec.ts
  packages/shared/src/authz/policies/project/canPublish.ts
Due: run-server-pipeline, run-frotend-pipeline

chore(viewer-lib): Updated section box data type. Updated LegacyViewer section box data handling. Updated frontend to use new data type. Still not working doe
  packages/frontend-2/lib/viewer/composables/serialization.ts
  packages/frontend-2/lib/viewer/composables/setup.ts
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
  packages/frontend-2/lib/viewer/composables/ui.ts
  packages/server/modules/comments/services/data.ts
  packages/shared/src/viewer/helpers/state.ts
  packages/viewer/src/modules/LegacyViewer.ts
  packages/viewer/src/type-augmentations/three-extensions.ts
  packages/viewer/src/type-augmentations/three.d.ts
Due: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

chore(sandbox): Default stream
  packages/viewer-sandbox/src/main.ts
Due: none

fix(viewer-lib): Fixed the false gradient generated at the edges of the screen when in pen mode
  packages/viewer/src/modules/materials/shaders/speckle-edges-generator-frag.ts
Due: run-viewer-pipeline

Feat: Dont show sidebar if not part of workspace (#4670)
  packages/frontend-2/components/dashboard/Sidebar.vue
Due: run-frotend-pipeline

Fix: Cleanup unused onboarding FE code (#4645)
  packages/frontend-2/lib/auth/composables/onboarding.ts
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
Due: run-frotend-pipeline

fix invites leak
  packages/server/modules/serverinvites/repositories/serverInvites.ts
  packages/server/modules/workspaces/tests/integration/invites.graph.spec.ts
Due: run-server-pipeline

fix(automate): omit runs from deleted automations
  packages/server/modules/automate/repositories/automations.ts
Due: run-server-pipeline

Chore: unlist archicad till fixing windows defender issue on its installer
  packages/frontend-2/lib/dashboard/helpers/connectors.ts
Due: run-frotend-pipeline

feat(workspace): tweaked cron tab, query and added tests
  packages/server/modules/workspaces/index.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/management.ts
  packages/server/modules/workspaces/services/workspaceCreationState.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/workspacesCreationState.spec.ts
Due: run-server-pipeline

fix(automate): omit runs from deleted automations (#4674)
  packages/server/modules/automate/repositories/automations.ts
Due: run-server-pipeline

Chore: unlist archicad till fixing windows defender issue on its installer (#4675)
  packages/frontend-2/lib/dashboard/helpers/connectors.ts
Due: run-frotend-pipeline

fix(multiregion): more logs for move region failure
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/services/projectRegions.ts
Due: run-server-pipeline

fix(multiregion): more logs for move region failure (#4676)
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/services/projectRegions.ts
Due: run-server-pipeline

Chore: re-list archicad temporarily
  packages/frontend-2/lib/dashboard/helpers/connectors.ts
Due: run-frotend-pipeline

Chore: re-list archicad temporarily (#4677)
  packages/frontend-2/lib/dashboard/helpers/connectors.ts
Due: run-frotend-pipeline

Updated connectors page
  packages/frontend-2/components/connectors/Card.vue
  packages/frontend-2/components/connectors/Page.vue
  packages/frontend-2/layouts/narrow.vue
  packages/frontend-2/pages/connectors/index.vue
  packages/frontend-2/public/images/connectors/connectors_dark.png
  packages/frontend-2/public/images/connectors/connectors_light.png
Due: run-frotend-pipeline

Use workspaces - separate install from saving cache - saving cache is no longer on critical path - use aliases where possible - /speckle-server is default - ditch ramdisk
  .circleci/config.yml
Due: none

Amend default working directory
  .circleci/config.yml
Due: none

Beta version of CachePump and CacheReader
  packages/objectloader2/src/helpers/batchingQueue.ts
  packages/objectloader2/src/helpers/cachePump.ts
  packages/objectloader2/src/helpers/cacheReader.ts
  packages/objectloader2/src/helpers/defermentManager.ts
  packages/objectloader2/src/helpers/deferredBase.ts
  packages/objectloader2/src/operations/indexedDatabase.ts
  packages/objectloader2/src/operations/interfaces.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/options.ts
Due: none

skip already-moved
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

Updated images, text changes, spacing improved.
  packages/frontend-2/components/connectors/Card.vue
  packages/frontend-2/components/connectors/Page.vue
  packages/frontend-2/public/images/connectors/connectors_dark.png
  packages/frontend-2/public/images/connectors/connectors_light.png
Due: run-frotend-pipeline

Clean up
  packages/frontend-2/components/connectors/Page.vue
Due: run-frotend-pipeline

Updated images
  packages/frontend-2/public/images/connectors/connectors_dark.png
  packages/frontend-2/public/images/connectors/connectors_light.png
Due: run-frotend-pipeline
