Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

rerun
  packages/frontend-2/package.json
Due: run-frotend-pipeline

regen
  yarn.lock
Due: none

refactor(ci): add get_version to gha
  .github/workflows/pull-request.yml
  .github/workflows/scripts/common.sh
  .github/workflows/scripts/get_version.sh
Due: none

Feat: Enable Intercom for in-app support (#4640)
  packages/frontend-2/.env.example
  packages/frontend-2/assets/css/tailwind.css
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/components/feedback/Dialog.vue
  packages/frontend-2/components/header/WorkspaceSwitcher/List.vue
  packages/frontend-2/components/header/WorkspaceSwitcher/ListItem.vue
  packages/frontend-2/components/header/nav/UserMenu.vue
  packages/frontend-2/components/promo-banners/Banner.vue
  packages/frontend-2/components/promo-banners/Workspace.vue
  packages/frontend-2/components/promo-banners/Wrapper.vue
  packages/frontend-2/components/viewer/gendo/Dialog.vue
  packages/frontend-2/components/viewer/gendo/Item.vue
  packages/frontend-2/components/viewer/gendo/Panel.vue
  packages/frontend-2/components/workspace/JoinPage.vue
  packages/frontend-2/components/workspace/moveProject/Manager.vue
  packages/frontend-2/layouts/default.vue
  packages/frontend-2/layouts/withRightSidebar.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/common/helpers/route.ts
  packages/frontend-2/lib/intercom/graphql/queries.ts
  packages/frontend-2/middleware/004-onboarding.global.ts
  packages/frontend-2/middleware/requireDiscoverableWorkspaces.ts
  packages/frontend-2/nuxt.config.ts
  packages/frontend-2/package.json
  packages/frontend-2/plugins/intercom.client.ts
  packages/frontend-2/plugins/survicate.client.ts
  packages/frontend-2/public/images/workspace/announcement-dark.png
  packages/frontend-2/public/images/workspace/announcement-light.png
  utils/helm/speckle-server/templates/frontend_2/deployment.yml
  utils/helm/speckle-server/values.schema.json
  utils/helm/speckle-server/values.yaml
  yarn.lock
Due: run-frotend-pipeline

refactor(ci): try docker build on blacksmith
  .github/workflows/pull-request.yml
Due: none

refactor(ci): retry
  .github/workflows/pull-request.yml
Due: none

refactor(workspaces): fixed minor comments
  packages/server/modules/shared/test/helpers/mixpanel.ts
  packages/server/modules/workspaces/services/tracking.ts
  packages/server/modules/workspaces/tests/integration/tracking.spec.ts
Due: run-server-pipeline

refactor(workspaces): fixed minor comments
  packages/server/modules/workspaces/services/tracking.ts
Due: run-server-pipeline

Add descriptions for new feature flags
  packages/shared/src/environment/index.ts
Due: none

feat(workspaces): added GQL fitlering capabilities to activeUser workspaces
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/retrieval.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/repositories.spec.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/modules/workspacesCore/helpers/db.ts
  packages/server/test/authHelper.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/server/test/graphql/workspaces.ts
Due: run-server-pipeline

feat(fe): promo banner for specklecon
  packages/frontend-2/components/dashboard/Promo.vue
  packages/frontend-2/components/dashboard/Sidebar.vue
Due: run-frotend-pipeline

Fix broken import
  packages/server/modules/previews/services/responses.ts
Due: run-server-pipeline

refactor(ci): split into multiple files
  .github/workflows/builds.yml
  .github/workflows/pull-request.yml
  .github/workflows/tests.yml
Due: none

fix: comments
  packages/server/modules/workspaces/services/tracking.ts
Due: run-server-pipeline

fixes
  .github/workflows/builds.yml
  .github/workflows/tests.yml
Due: none

ci(docker): use registry instead of workspace
  .circleci/build.sh
  .circleci/common.sh
  .circleci/deployment/Tiltfile.helm
  .circleci/deployment/Tiltfile.load
  .circleci/publish.sh
Due: none

build steps now require docker hub context
  .circleci/config.yml
Due: none

docker-publish-postgres-container after tests
  .circleci/config.yml
Due: none

Renaming
  .circleci/config.yml
Due: none

Incorporate PR comments
  packages/server/observability/utils/requestContext.ts
Due: run-server-pipeline

chore(server/auth): improve error messages (#4207)
  packages/server/modules/auth/services/serverApps.ts
  packages/server/modules/auth/tests/integration/registration.spec.ts
Due: run-server-pipeline

fixes
  packages/server/observability/components/apollo/apolloSubscriptions.ts
  packages/server/observability/components/knex/knexMonitoring.ts
  packages/server/observability/utils/requestContext.ts
Due: run-server-pipeline

fix shared tests
  packages/shared/src/authz/policies/project/canLoad.spec.ts
  packages/shared/src/authz/policies/project/canPublish.spec.ts
  packages/shared/src/authz/policies/workspace/canUpdateEmbedOptions.spec.ts
Due: none

fix
  packages/server/app.ts
Due: run-server-pipeline

chore: branch -> model in error msg
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/modules/core/repositories/branches.ts
Due: run-server-pipeline, run-frotend-pipeline

fix(viewer-lib): Depth bias for screen space outline is now being computed as a relative value when using viewe modes
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/extensions/ViewModes.ts
  packages/viewer/src/modules/pipeline/Passes/ShadedPass.ts
Due: run-viewer-pipeline

refactor(workspaces): fixed minor comments (#4764)
  packages/server/modules/shared/test/helpers/mixpanel.ts
  packages/server/modules/workspaces/services/tracking.ts
  packages/server/modules/workspaces/tests/integration/tracking.spec.ts
Due: run-server-pipeline

tests fix
  packages/server/modules/core/tests/branches.spec.ts
Due: run-server-pipeline

fix(viewer-lib): Depth bias for screen space outline is now being computed as a relative value when using viewe modes (#4769)
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/extensions/ViewModes.ts
  packages/viewer/src/modules/pipeline/Passes/ShadedPass.ts
Due: run-viewer-pipeline

chore: branch -> model in error msg (#4768)
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/modules/core/repositories/branches.ts
  packages/server/modules/core/tests/branches.spec.ts
Due: run-server-pipeline, run-frotend-pipeline

auth tests migrated
  .gitguardian.yml
  packages/server/modules/auth/tests/apps.graphql.spec.ts
  packages/server/modules/auth/tests/apps.spec.ts
Due: run-server-pipeline

feat: precommit
  .github/workflows/builds.yml
  .github/workflows/tests.yml
  .github/workflows/wip.yml
Due: none

fix(fe2): project delete btn not following auth policy
  packages/frontend-2/components/projects/DeleteDialog.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/shared/src/authz/helpers/graphql.ts
Due: run-frotend-pipeline

fix: precommit
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .github/workflows/wip.yml
Due: none

fix(server): Add user to onboarding audience if they are not in it
  packages/server/modules/auth/services/mailchimp.ts
Due: run-server-pipeline

core tests
  packages/server/modules/core/tests/init.spec.ts
Due: run-server-pipeline

fix(fe2): project delete btn not following auth policy (#4770)
  packages/frontend-2/components/projects/DeleteDialog.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/shared/src/authz/helpers/graphql.ts
Due: run-frotend-pipeline

pwdreset
  packages/server/modules/pwdreset/tests/pwdrest.spec.ts
Due: run-server-pipeline

fix: precommit
  .github/workflows/builds.yml
  .github/workflows/wip.yml
Due: none

chore(feature flags): defaults all to false, and additional commentary on expected permanence, dependencies, & licensing (#4124)
  .circleci/config.yml
  packages/server/modules/multiregion/tests/e2e/projects.graph.spec.ts
  packages/shared/src/authz/fragments/projects.spec.ts
  packages/shared/src/authz/policies/project/automation/canCreate.spec.ts
  packages/shared/src/authz/policies/project/automation/canDelete.spec.ts
  packages/shared/src/authz/policies/project/automation/canRead.spec.ts
  packages/shared/src/authz/policies/project/automation/canUpdate.spec.ts
  packages/shared/src/authz/policies/project/canBroadcastActivity.spec.ts
  packages/shared/src/authz/policies/project/canDelete.spec.ts
  packages/shared/src/authz/policies/project/canLeave.spec.ts
  packages/shared/src/authz/policies/project/canLoad.spec.ts
  packages/shared/src/authz/policies/project/canMoveToWorkspace.spec.ts
  packages/shared/src/authz/policies/project/canPublish.spec.ts
  packages/shared/src/authz/policies/project/canReadSettings.spec.ts
  packages/shared/src/authz/policies/project/canReadWebhooks.spec.ts
  packages/shared/src/authz/policies/project/canUpdate.spec.ts
  packages/shared/src/authz/policies/project/comment/canArchive.spec.ts
  packages/shared/src/authz/policies/project/comment/canCreate.spec.ts
  packages/shared/src/authz/policies/project/comment/canEdit.spec.ts
  packages/shared/src/authz/policies/project/model/canDelete.spec.ts
  packages/shared/src/authz/policies/project/model/canUpdate.spec.ts
  packages/shared/src/authz/policies/project/version/canCreate.spec.ts
  packages/shared/src/authz/policies/project/version/canReceive.spec.ts
  packages/shared/src/authz/policies/project/version/canRequestRender.spec.ts
  packages/shared/src/authz/policies/project/version/canUpdate.spec.ts
  packages/shared/src/authz/policies/workspace/canCreateWorkspaceProject.spec.ts
  packages/shared/src/authz/policies/workspace/canUpdateEmbedOptions.spec.ts
  packages/shared/src/environment/index.ts
Due: run-server-pipeline
