Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

fix(tailwind-theme): remove default exports to fix comp w/ dui3
  packages/dui3/tailwind.config.mjs
  packages/tailwind-theme/README.md
  packages/tailwind-theme/src/index.ts
  packages/tailwind-theme/src/plugin.ts
  packages/tailwind-theme/src/preset.ts
  packages/ui-components/tailwind.config.cjs
Due: none

fix(tailwind-theme): remove default exports to fix comp w/ dui3 (#4730)
  packages/dui3/tailwind.config.mjs
  packages/tailwind-theme/README.md
  packages/tailwind-theme/src/index.ts
  packages/tailwind-theme/src/plugin.ts
  packages/tailwind-theme/src/preset.ts
  packages/ui-components/tailwind.config.cjs
Due: none

large project trx
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

large project db
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

tests(server): do not run Workspace SSO tests if not enabled
  packages/server/modules/workspaces/tests/integration/sso.graph.spec.ts
  packages/server/modules/workspaces/tests/integration/sso.spec.ts
Due: run-server-pipeline

feat(fe): Disable file upload menu item in some cases
  packages/frontend-2/components/project/page/models/Actions.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
Due: run-frotend-pipeline

fix(server): throw stream not found error if stream not found
  packages/server/modules/core/services/streams/management.ts
Due: run-server-pipeline

Delete promo banner
  packages/frontend-2/components/promo-banners/Banner.vue
  packages/frontend-2/components/promo-banners/Workspace.vue
  packages/frontend-2/components/promo-banners/Wrapper.vue
  packages/frontend-2/layouts/default.vue
  packages/frontend-2/layouts/withRightSidebar.vue
  packages/frontend-2/public/images/workspace/announcement-dark.png
  packages/frontend-2/public/images/workspace/announcement-light.png
Due: run-frotend-pipeline

try allocating no strings
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
Due: none

Remove feedback dialog
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/components/feedback/Dialog.vue
  packages/frontend-2/components/header/nav/UserMenu.vue
  packages/frontend-2/components/viewer/gendo/Dialog.vue
  packages/frontend-2/components/viewer/gendo/Item.vue
  packages/frontend-2/components/viewer/gendo/Panel.vue
Due: run-frotend-pipeline

Add tests, fix tests, and revert behaviour
  packages/server/modules/auth/services/passportService.ts
  packages/server/modules/auth/tests/auth.spec.ts
Due: run-server-pipeline

add comments
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
Due: none

small refactor and add another test
  packages/objectloader2/src/operations/downloaders/__snapshots__/serverDownloader.spec.ts.snap
  packages/objectloader2/src/operations/downloaders/serverDownloader.spec.ts
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
Due: none

fix: mr comments
  packages/server/modules/fileuploads/queues/fileimports.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/createFileImport.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/shared/helpers/envHelper.ts
Due: run-server-pipeline

Add blacklisted routes
  packages/frontend-2/components/header/WorkspaceSwitcher/List.vue
  packages/frontend-2/components/workspace/JoinPage.vue
  packages/frontend-2/components/workspace/moveProject/Manager.vue
  packages/frontend-2/lib/common/helpers/route.ts
  packages/frontend-2/middleware/004-onboarding.global.ts
  packages/frontend-2/middleware/requireDiscoverableWorkspaces.ts
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

Update company
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

fix(server): we should default to a viewer seat in the rare cases of no seat assigned to the user
  packages/server/modules/gatekeeper/graph/resolvers/index.ts
Due: run-server-pipeline

Remove survicate
  packages/frontend-2/.env.example
  packages/frontend-2/nuxt.config.ts
  packages/frontend-2/package.json
  packages/frontend-2/plugins/survicate.client.ts
  utils/helm/speckle-server/templates/frontend_2/deployment.yml
  yarn.lock
Due: run-frotend-pipeline

Remove ghostApiKey
  packages/frontend-2/.env.example
  packages/frontend-2/nuxt.config.ts
Due: run-frotend-pipeline

Remove webflow api keys
  utils/helm/speckle-server/templates/frontend_2/deployment.yml
  utils/helm/speckle-server/values.schema.json
  utils/helm/speckle-server/values.yaml
Due: none

chore(config): Increased publish-npm step resource size to 'large'
  .circleci/config.yml
Due: none

Removed default variant
  packages/frontend-2/components/project/page/models/ListView.vue
  packages/frontend-2/components/project/page/models/StructureItem.vue
Due: run-frotend-pipeline

feat(fe): empty state illustration slot added and styling changes
  packages/frontend-2/components/project/CardImportFileArea.vue
  packages/frontend-2/components/project/EmptyState.vue
Due: run-frotend-pipeline

fix: mr comments
  packages/server/modules/fileuploads/index.ts
  packages/server/modules/fileuploads/tests/unit/fileuploads.spec.ts
Due: run-server-pipeline

feat: increase resources for publish npm job
  .circleci/config.yml
Due: none

chore(config): Increased publish-npm step resource size to 'large' (#4736)
  .circleci/config.yml
Due: none

feata(viewer-lib): Proper precision loss detection
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/converter/Geometry.ts
Due: run-viewer-pipeline

Fix linting
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

fix(server): we should default to a viewer seat in the rare cases of no seat assigned to the user (#4735)
  packages/server/modules/gatekeeper/graph/resolvers/index.ts
Due: run-server-pipeline

feat(workspaces): added GQL fitlering capabilities to activeUser workspaces
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/core/helpers/testHelpers.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/retrieval.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/modules/workspacesCore/helpers/db.ts
  packages/server/test/authHelper.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline

feat(fe): new empty state illustrations and styling changes
  packages/frontend-2/components/global/illustration/emptystate/DiscussionTab.vue
  packages/frontend-2/components/global/illustration/emptystate/Project.vue
  packages/frontend-2/components/global/illustration/emptystate/ProjectTab.vue
  packages/frontend-2/components/project/CardImportFileArea.vue
  packages/frontend-2/components/project/page/latest-items/comments/EmptyState.vue
Due: run-frotend-pipeline

Fix z-index
  packages/frontend-2/assets/css/tailwind.css
Due: run-frotend-pipeline

fix deferment expiration and have test
  packages/objectloader2/src/helpers/defermentManager.spec.ts
  packages/objectloader2/src/helpers/defermentManager.ts
  packages/objectloader2/src/helpers/deferredBase.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/options.ts
Due: none

core fix
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaceJoinRequests.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/rest/sso.ts
  packages/server/modules/workspaces/services/invites.ts
  packages/server/modules/workspaces/services/join.ts
  packages/server/modules/workspaces/services/management.ts
  packages/server/modules/workspaces/services/projects.ts
  packages/server/modules/workspaces/services/sso.ts
  packages/server/modules/workspaces/services/workspaceJoinRequests.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/workspaceJoinRequests.spec.ts
  packages/server/modules/workspaces/tests/unit/services/join.spec.ts
  packages/server/modules/workspaces/tests/unit/services/management.spec.ts
  packages/server/modules/workspaces/tests/unit/services/sso.spec.ts
Due: run-server-pipeline

fix migration
  packages/server/modules/workspacesCore/migrations/20250514092509_add_missing_seats.ts
Due: run-server-pipeline

fix(workspaces): added filtering mechanism for getWorkspaces
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/retrieval.ts
  packages/server/modules/workspaces/tests/integration/repositories.spec.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/test/authHelper.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/server/test/graphql/workspaces.ts
Due: run-server-pipeline, run-frotend-pipeline

Remove feedback button from user menu
  packages/frontend-2/components/header/nav/UserMenu.vue
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

feat(fileuploads): nexGenFileUpload populates messages to new job queue (#4702)
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/index.ts
  packages/server/modules/fileuploads/queues/fileimports.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/createFileImport.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/tests/helpers/creation.ts
  packages/server/modules/fileuploads/tests/unit/fileuploads.spec.ts
  packages/server/modules/shared/helpers/envHelper.ts
Due: run-server-pipeline
