Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

feat: mixpanel workspace tracking batch update skeleton
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/index.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/tracking.ts
Due: run-server-pipeline

feat(fe): improvements to empty states (#4696)
  packages/frontend-2/components/global/illustration/emptystate/DiscussionTab.vue
  packages/frontend-2/components/global/illustration/emptystate/Project.vue
  packages/frontend-2/components/global/illustration/emptystate/ProjectTab.vue
  packages/frontend-2/components/global/illustration/emptystate/Workspace.vue
  packages/frontend-2/components/project/CardImportFileArea.vue
  packages/frontend-2/components/project/EmptyState.vue
  packages/frontend-2/components/project/page/latest-items/comments/EmptyState.vue
  packages/frontend-2/components/project/page/models/Card.vue
  packages/frontend-2/components/project/page/models/ListView.vue
  packages/frontend-2/components/project/page/models/StructureItem.vue
  packages/frontend-2/components/projects/ProjectDashboardCard.vue
  packages/frontend-2/components/workspace/dashboard/ProjectList.vue
Due: run-frotend-pipeline

base limits cleanup
  packages/server/modules/comments/graph/resolvers/comments.ts
  packages/server/modules/core/graph/resolvers/commits.ts
  packages/server/modules/core/graph/resolvers/versions.ts
  packages/server/modules/core/tests/integration/versions.graph.spec.ts
  packages/server/modules/gatekeeper/graph/dataloaders/index.ts
  packages/server/modules/gatekeeperCore/utils/limits.ts
  packages/server/modules/shared/helpers/typeHelper.ts
  packages/server/modules/shared/middleware/index.ts
  packages/server/modules/workspaces/authz/loaders/index.ts
  packages/shared/src/environment/index.ts
  packages/shared/src/limit/utils.spec.ts
  packages/shared/src/limit/utils.ts
  packages/shared/src/workspaces/index.ts
Due: run-server-pipeline

Changed app ID to env var
  packages/frontend-2/.env.example
  packages/frontend-2/nuxt.config.ts
  packages/frontend-2/plugins/intercom.client.ts
  utils/helm/speckle-server/templates/frontend_2/deployment.yml
Due: run-frotend-pipeline

fix(server): Remove mailchimp step and journey ids
  packages/server/modules/auth/services/mailchimp.ts
  packages/server/modules/core/events/userTracking.ts
  packages/server/modules/shared/helpers/envHelper.ts
  utils/helm/speckle-server/templates/_helpers.tpl
  utils/helm/speckle-server/values.schema.json
  utils/helm/speckle-server/values.yaml
Due: run-server-pipeline

Add more plan metadeta
  packages/frontend-2/components/header/WorkspaceSwitcher/ListItem.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/intercom/graphql/queries.ts
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

fix(server): fallback to viewer if no seat found (#4748)
  packages/server/modules/gatekeeper/graph/resolvers/index.ts
  packages/server/modules/gatekeeper/services/checkout/startCheckoutSession.ts
  packages/server/modules/gatekeeper/services/subscriptions/manageSubscriptionDownscale.ts
  packages/server/modules/gatekeeper/services/subscriptions/upgradeWorkspaceSubscription.ts
  packages/server/modules/workspaces/services/projects.ts
  packages/server/modules/workspaces/services/workspaceSeat.ts
  packages/server/modules/workspaces/tests/integration/workspaceSeat.spec.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/modules/workspaces/tests/unit/services/management.spec.ts
  packages/server/modules/workspaces/tests/unit/services/projects.spec.ts
  packages/server/modules/workspaces/tests/unit/services/workspaceSeat.spec.ts
Due: run-server-pipeline

fix(viewer-lib): Outline opacity is now correctly applied
  packages/viewer/src/modules/pipeline/Passes/EdgesPass.ts
  packages/viewer/src/modules/pipeline/Pipelines/PenViewPipeline.ts
Due: run-viewer-pipeline

fix(viewer-lib): Fixed compile errors
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer/src/modules/pipeline/Pipelines/EdgesPipeline.ts
Due: run-viewer-pipeline

Fix pre-commit - add end
  utils/helm/speckle-server/templates/_helpers.tpl
Due: none

feat(server): use both onboardin and newsletter list audiences
  packages/server/modules/core/events/userTracking.ts
Due: run-server-pipeline

Fix type
  packages/server/modules/core/events/userTracking.ts
Due: run-server-pipeline

Remove unused triggerMailchimpCustomerJourney function
  packages/server/modules/auth/services/mailchimp.ts
Due: run-server-pipeline

fix(viewer-lib): Outline opacity is now correctly applied (#4751)
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer/src/modules/pipeline/Passes/EdgesPass.ts
  packages/viewer/src/modules/pipeline/Pipelines/EdgesPipeline.ts
  packages/viewer/src/modules/pipeline/Pipelines/PenViewPipeline.ts
Due: run-viewer-pipeline

fix(server): Remove mailchimp step and journey ids (#4750)
  packages/server/modules/auth/services/mailchimp.ts
  packages/server/modules/core/events/userTracking.ts
  packages/server/modules/shared/helpers/envHelper.ts
  utils/helm/speckle-server/templates/_helpers.tpl
  utils/helm/speckle-server/values.schema.json
  utils/helm/speckle-server/values.yaml
Due: run-server-pipeline

fix(fileimport): nextGen fileimport improvements (#4746)
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/migrations/20250514131509_add_modelId_foreign_to_file_uploads.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/tests/integration/fileuploadsV2.spec.ts
Due: run-server-pipeline

history limit tests
  packages/server/codegen.yml
  packages/server/modules/cli/commands/db/seed/commits.ts
  packages/server/modules/comments/domain/operations.ts
  packages/server/modules/comments/services/management.ts
  packages/server/modules/comments/tests/projectComments.spec.ts
  packages/server/modules/core/domain/commits/operations.ts
  packages/server/modules/core/services/commit/management.ts
  packages/server/modules/core/tests/batchCommits.spec.ts
  packages/server/modules/core/tests/helpers/graphql/limits.ts
  packages/server/modules/core/tests/integration/limits.graph.spec.ts
  packages/server/modules/core/tests/integration/objects.spec.ts
  packages/server/modules/core/tests/integration/subs.graph.spec.ts
  packages/server/modules/multiregion/tests/e2e/projects.graph.spec.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/server/test/speckle-helpers/commentHelper.ts
  packages/server/test/speckle-helpers/commitHelper.ts
  packages/shared/package.json
Due: run-server-pipeline

feat(viewer-lib): Mesh batch determines if it needs RTE on it's own
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/Helpers.ts
  packages/viewer/src/modules/batching/MeshBatch.ts
  packages/viewer/src/modules/converter/Geometry.ts
  packages/viewer/src/modules/objects/SpeckleMesh.ts
Due: run-viewer-pipeline

chore(workspaces): drop legacy `join()` (#4752)
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/errors/workspace.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/services/join.ts
  packages/server/modules/workspaces/tests/unit/services/join.spec.ts
  packages/server/modules/workspacesCore/domain/events.ts
  packages/server/modules/workspacesCore/graph/resolvers/workspacesCore.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline, run-frotend-pipeline

Handle multiple connector images in connector card
  packages/frontend-2/components/connectors/Card.vue
  packages/frontend-2/lib/dashboard/helpers/connectors.ts
  packages/frontend-2/lib/dashboard/helpers/types.ts
Due: run-frotend-pipeline

feat(fe): Add workspace video explainer. Update CommonVimeoEmbed
  packages/frontend-2/components/global/icon/Play.vue
  packages/frontend-2/components/workspace/ExplainerVideoDialog.vue
  packages/frontend-2/components/workspace/dashboard/ProjectList.vue
  packages/frontend-2/public/images/workspace/explainer-video-dark.png
  packages/frontend-2/public/images/workspace/explainer-video-light.png
  packages/ui-components/src/components/common/VimeoEmbed.stories.ts
  packages/ui-components/src/components/common/VimeoEmbed.vue
  packages/ui-components/src/components/global/icon/Play.vue
Due: run-frotend-pipeline

Remove comments
  packages/frontend-2/components/connectors/Card.vue
  packages/frontend-2/lib/dashboard/helpers/connectors.ts
Due: run-frotend-pipeline

feat: add "Get started" to sidebar
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/components/global/icon/Play.vue
  packages/ui-components/src/components/common/VimeoEmbed.vue
Due: run-frotend-pipeline

Update vimeo id
  packages/frontend-2/components/global/icon/Play.vue
  packages/frontend-2/components/workspace/ExplainerVideoDialog.vue
Due: run-frotend-pipeline

Fix: Enable grasshopper in connectors (#4753)
  packages/frontend-2/components/connectors/Card.vue
  packages/frontend-2/lib/dashboard/helpers/connectors.ts
  packages/frontend-2/lib/dashboard/helpers/types.ts
Due: run-frotend-pipeline

Redorder sidebar
  packages/frontend-2/components/dashboard/Sidebar.vue
Due: run-frotend-pipeline

feat(fe): Add workspace product introduction video (#4754)
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/components/global/icon/Play.vue
  packages/frontend-2/components/workspace/ExplainerVideoDialog.vue
  packages/frontend-2/components/workspace/dashboard/ProjectList.vue
  packages/frontend-2/public/images/workspace/explainer-video-dark.png
  packages/frontend-2/public/images/workspace/explainer-video-light.png
  packages/ui-components/src/components/common/VimeoEmbed.stories.ts
  packages/ui-components/src/components/common/VimeoEmbed.vue
  packages/ui-components/src/components/global/icon/Play.vue
Due: run-frotend-pipeline

typo
  packages/server/modules/core/graph/resolvers/users.ts
Due: run-server-pipeline

catch invalid grant errors
  packages/server/modules/auth/domain/const.ts
  packages/server/modules/auth/services/passportService.ts
  packages/server/modules/auth/strategies/google.ts
Due: run-server-pipeline

Feat: Add mixpanel events to getting started video
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/components/workspace/ExplainerVideoDialog.vue
  packages/frontend-2/components/workspace/dashboard/ProjectList.vue
  packages/ui-components/src/components/common/VimeoEmbed.vue
Due: run-frotend-pipeline

Revert dui3 commit
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/components/workspace/ExplainerVideoDialog.vue
  packages/frontend-2/components/workspace/dashboard/ProjectList.vue
Due: run-frotend-pipeline

canCreatePersonal & tests
  packages/server/modules/automate/tests/trigger.spec.ts
  packages/server/modules/core/tests/integration/limits.graph.spec.ts
  packages/server/modules/core/tests/integration/objects.spec.ts
  packages/server/modules/core/tests/integration/projects.graph.spec.ts
  packages/server/modules/core/tests/projects.spec.ts
  packages/server/modules/workspaces/tests/integration/projects.graph.spec.ts
  packages/server/test/speckle-helpers/commitHelper.ts
  packages/shared/src/authz/policies/project/canCreatePersonal.ts
Due: run-server-pipeline

add test for invalid grant
  packages/server/modules/auth/services/passportService.ts
  packages/server/modules/auth/tests/auth.spec.ts
Due: run-server-pipeline

canInvite block
  packages/server/modules/auth/tests/integration/registration.spec.ts
  packages/server/modules/core/tests/integration/limits.graph.spec.ts
  packages/server/modules/serverinvites/tests/invites.spec.ts
  packages/server/modules/shared/helpers/errorHelper.ts
  packages/server/modules/workspaces/tests/integration/invites.graph.spec.ts
  packages/shared/src/authz/domain/authErrors.ts
  packages/shared/src/authz/policies/index.ts
  packages/shared/src/authz/policies/project/canCreatePersonal.spec.ts
  packages/shared/src/authz/policies/project/canCreatePersonal.ts
  packages/shared/src/authz/policies/project/canInvite.spec.ts
  packages/shared/src/authz/policies/project/canInvite.ts
  packages/shared/src/authz/policies/workspace/canInvite.ts
Due: run-server-pipeline

linting
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

Fix: Onboarding redirects
  packages/frontend-2/components/onboarding/questions/Form.vue
  packages/frontend-2/pages/book-a-demo.vue
Due: run-frotend-pipeline

Feat: Add mixpanel events to getting started video (#4757)
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/components/workspace/ExplainerVideoDialog.vue
  packages/frontend-2/components/workspace/dashboard/ProjectList.vue
  packages/ui-components/src/components/common/VimeoEmbed.vue
Due: run-frotend-pipeline

WIP model check
  packages/server/modules/activitystream/tests/activity.spec.ts
  packages/server/modules/core/graph/resolvers/streams.ts
  packages/server/modules/core/tests/graph.spec.ts
  packages/server/modules/core/tests/integration/limits.graph.spec.ts
  packages/server/modules/core/tests/models.spec.ts
  packages/server/modules/shared/helpers/errorHelper.ts
  packages/shared/src/authz/domain/authErrors.ts
  packages/shared/src/authz/policies/project/canCreatePersonal.spec.ts
  packages/shared/src/authz/policies/project/canCreatePersonal.ts
  packages/shared/src/authz/policies/project/canInvite.spec.ts
  packages/shared/src/authz/policies/project/canInvite.ts
  packages/shared/src/authz/policies/project/model/canCreate.spec.ts
  packages/shared/src/authz/policies/project/model/canCreate.ts
Due: run-server-pipeline

Fix: Onboarding redirects (#4758)
  packages/frontend-2/components/onboarding/questions/Form.vue
  packages/frontend-2/pages/book-a-demo.vue
Due: run-frotend-pipeline

feat: added a chron job that updates all workspaces properties
  packages/server/modules/shared/test/hepers/creation.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/index.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/tracking.ts
  packages/server/modules/workspaces/tests/integration/tracking.spec.ts
Due: run-server-pipeline
