Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

fix(fe): Better naming. Parse line weight to number
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

Updated image
  packages/frontend-2/public/images/connectors/connectors_dark.png
Due: run-frotend-pipeline

fix(workspaces): introduced builders, fixed tests
  packages/server/modules/workspaces/index.ts
  packages/server/modules/workspaces/services/workspaceCreationState.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/workspacesCreationState.spec.ts
  packages/server/test/authHelper.ts
Due: run-server-pipeline

Clean up initialization
  packages/objectloader2/src/helpers/cachePump.ts
  packages/objectloader2/src/helpers/cacheReader.ts
  packages/objectloader2/src/helpers/defermentManager.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/options.ts
  packages/objectloader2/src/operations/serverDownloader.ts
  packages/viewer-sandbox/src/Sandbox.ts
Due: none

Workaround yarn postinstall scripts using ~/.npm and not respecting NPM_CONFIG_PREFIX
  .circleci/config.yml
  .yarnrc.yml
Due: none

Fix cache key
  .circleci/config.yml
Due: none

More clean up
  packages/objectloader2/src/helpers/cacheReader.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
Due: run-viewer-pipeline

reinstate ramdisk
  .circleci/config.yml
Due: none

Clean up
  packages/frontend-2/components/connectors/Card.vue
  packages/frontend-2/components/connectors/Page.vue
Due: run-frotend-pipeline

log
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

Revert "Revert "feat(server): workspace project invites as implicit workspace invites"" (#4672)
  packages/server/modules/core/dbSchema.ts
  packages/server/modules/serverinvites/domain/operations.ts
  packages/server/modules/serverinvites/domain/types.ts
  packages/server/modules/serverinvites/graph/resolvers/serverInvites.ts
  packages/server/modules/serverinvites/repositories/serverInvites.ts
  packages/server/modules/serverinvites/services/creation.ts
  packages/server/modules/serverinvites/services/operations.ts
  packages/server/modules/serverinvites/services/processing.ts
  packages/server/modules/serverinvites/services/projectInviteManagement.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/domain/types.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/projects.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/invites.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/invites.graph.spec.ts
Due: run-server-pipeline

Revert "Revert "Revert "feat(server): workspace project invites as implicit w…"
  packages/server/modules/core/dbSchema.ts
  packages/server/modules/serverinvites/domain/operations.ts
  packages/server/modules/serverinvites/domain/types.ts
  packages/server/modules/serverinvites/graph/resolvers/serverInvites.ts
  packages/server/modules/serverinvites/repositories/serverInvites.ts
  packages/server/modules/serverinvites/services/creation.ts
  packages/server/modules/serverinvites/services/operations.ts
  packages/server/modules/serverinvites/services/processing.ts
  packages/server/modules/serverinvites/services/projectInviteManagement.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/domain/types.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/projects.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/invites.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/invites.graph.spec.ts
Due: run-server-pipeline

give victor more power
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

test fixes
  packages/server/assets/core/typedefs/projects.graphql
  packages/server/modules/comments/tests/comments.graph.spec.ts
  packages/server/modules/core/domain/streams/operations.ts
  packages/server/modules/core/repositories/commits.ts
  packages/server/modules/core/repositories/streams.ts
  packages/server/modules/core/tests/unit/projects.spec.ts
  packages/server/modules/shared/test/authz.spec.js
Due: run-server-pipeline

pool stuff
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

Feat: Add middleware for SSO settings
  packages/frontend-2/middleware/requireValidSsoSession.ts
  packages/frontend-2/nuxt.config.ts
Due: run-frotend-pipeline

no first projects
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

Watcher removed, layout removed.
  packages/frontend-2/components/connectors/Page.vue
  packages/frontend-2/layouts/narrow.vue
  packages/frontend-2/pages/connectors/index.vue
Due: run-frotend-pipeline

Moving the banner to a separate component.
  packages/frontend-2/components/connectors/Banner.vue
  packages/frontend-2/components/connectors/Page.vue
Due: run-frotend-pipeline

fix(server): hide implicit workspace invites for existing workspace members
  packages/server/modules/serverinvites/repositories/serverInvites.ts
Due: run-server-pipeline

fix(server): hide implicit workspace invites for existing workspace members (#4681)
  packages/server/modules/serverinvites/repositories/serverInvites.ts
Due: run-server-pipeline

Add ClientOnly to rendered banner only on the client-side
  packages/frontend-2/components/connectors/Page.vue
Due: run-frotend-pipeline

feat(fe): Design changes. Remove unneeded watch. Fix shortcuts
  packages/frontend-2/components/viewer/menu/Item.vue
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

fix(multiregion): repair counting for project region moves
  packages/server/modules/multiregion/services/queue.ts
  packages/server/modules/multiregion/tests/e2e/projects.graph.spec.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/repositories/projectRegions.ts
  packages/server/modules/workspaces/services/projectRegions.ts
Due: run-server-pipeline

fix(multiregion): repair counting for project region moves (#4682)
  packages/server/modules/multiregion/services/queue.ts
  packages/server/modules/multiregion/tests/e2e/projects.graph.spec.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/repositories/projectRegions.ts
  packages/server/modules/workspaces/services/projectRegions.ts
Due: run-server-pipeline

feat(fe): use dark mode colours. add colour controls
  packages/frontend-2/components/viewer/view-modes/Menu.vue
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

fix(fe): shortcuts and colours
  packages/frontend-2/lib/viewer/composables/ui.ts
  packages/frontend-2/lib/viewer/helpers/shortcuts/shortcuts.ts
Due: run-frotend-pipeline

fix(fe): reactive defaultColor
  packages/frontend-2/lib/viewer/composables/ui.ts
Due: run-frotend-pipeline

visibility seems to work
  packages/server/modules/core/graph/resolvers/streams.ts
  packages/server/modules/core/services/admin.ts
  packages/server/modules/core/tests/streams.spec.ts
  packages/server/modules/core/tests/unit/projects.spec.ts
Due: run-server-pipeline

fix(multiregion): zero !== undefined
  packages/server/modules/multiregion/tests/e2e/projects.graph.spec.ts
  packages/server/modules/workspaces/repositories/projectRegions.ts
  packages/server/modules/workspaces/services/projectRegions.ts
Due: run-server-pipeline

feat(file importer): feature flag defined
  packages/shared/src/environment/index.ts
  utils/helm/speckle-server/templates/_helpers.tpl
  utils/helm/speckle-server/templates/fileimport_service/deployment.yml
  utils/helm/speckle-server/values.schema.json
  utils/helm/speckle-server/values.yaml
Due: none

fix(viewer-lib): Fixed an issue where comments with section boxes did not enable section outlines at startup
  packages/viewer/src/modules/LegacyViewer.ts
  packages/viewer/src/modules/extensions/sections/SectionOutlines.ts
Due: run-viewer-pipeline

feat(fileimport service): use new feature flag but throw on use
  packages/fileimport-service/src/bin.ts
Due: none

add feature flag to frontend_2
  utils/helm/speckle-server/templates/frontend_2/deployment.yml
Due: none

fix(multiregion): zero !== undefined (#4683)
  packages/server/modules/multiregion/tests/e2e/projects.graph.spec.ts
  packages/server/modules/workspaces/repositories/projectRegions.ts
  packages/server/modules/workspaces/services/projectRegions.ts
Due: run-server-pipeline

chore(frontend): Fixed ci compiler error
  packages/server/modules/comments/services/data.ts
Due: run-server-pipeline

chore(objectloader2): Fixed CI compiler error
  packages/objectloader2/src/operations/indexedDatabase.spec.ts
Due: none

chore(shared): refactor previews in to worker directory - add file imports to worker directory
  packages/preview-frontend/src/main.ts
  packages/preview-service/src/jobProcessor.ts
  packages/preview-service/src/main.ts
  packages/server/modules/previews/index.ts
  packages/server/modules/previews/resultListener.ts
  packages/shared/src/workers/fileimport/job.ts
  packages/shared/src/workers/previews/interface.ts
  packages/shared/src/workers/previews/job.ts
Due: run-server-pipeline

chore(objectloader2): Fixed prettier
  packages/objectloader2/src/helpers/cachePump.ts
  packages/objectloader2/src/operations/indexedDatabase.ts
Due: none

fix(server): remove redundant code from bad merge
  packages/server/modules/fileuploads/rest/router.ts
Due: run-server-pipeline
