Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

wrong router
  packages/server/modules/fileuploads/index.ts
  packages/server/modules/fileuploads/rest/router.ts
  packages/server/modules/fileuploads/rest/routes.ts
Due: run-server-pipeline

chore(multiregion): job success logs
  packages/server/modules/multiregion/services/queue.ts
Due: run-server-pipeline

WIP: http api for receiving file import results
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/index.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/rest/router.ts
  packages/server/modules/fileuploads/services/resultHandler.ts
  packages/server/modules/shared/utils/subscriptions.ts
  packages/shared/src/workers/fileimport/job.ts
Due: run-server-pipeline

Fix: Add event for canceling invites from server settings
  packages/frontend-2/components/settings/server/PendingInvitations.vue
Due: run-frotend-pipeline

Fix: Fix for canceling invites from server settings (#4689)
  packages/frontend-2/components/settings/server/PendingInvitations.vue
Due: run-frotend-pipeline

authz policies & authorizeResolver updated
  packages/frontend-2/lib/auth/helpers/authPolicies.ts
  packages/server/assets/core/typedefs/projects.graphql
  packages/server/modules/comments/services/management.ts
  packages/server/modules/core/domain/projects/operations.ts
  packages/server/modules/core/domain/streams/operations.ts
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/core/helpers/project.ts
  packages/server/modules/core/helpers/types.ts
  packages/server/modules/core/repositories/streams.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/shared/services/auth.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/shared/src/authz/fragments/projects.spec.ts
  packages/shared/src/authz/fragments/projects.ts
  packages/shared/src/authz/policies/project/automation/canCreate.spec.ts
  packages/shared/src/authz/policies/project/automation/canRead.spec.ts
  packages/shared/src/authz/policies/project/canBroadcastActivity.spec.ts
  packages/shared/src/authz/policies/project/canRead.spec.ts
  packages/shared/src/authz/policies/project/canReadSettings.spec.ts
  packages/shared/src/authz/policies/project/canReadWebhooks.spec.ts
  packages/shared/src/authz/policies/project/comment/canArchive.spec.ts
  packages/shared/src/authz/policies/project/comment/canCreate.spec.ts
  packages/shared/src/authz/policies/project/comment/canEdit.spec.ts
  packages/shared/src/authz/policies/project/version/canCreate.spec.ts
  packages/shared/src/authz/policies/project/version/canReceive.spec.ts
  packages/shared/src/authz/policies/project/version/canRequestRender.spec.ts
Due: run-server-pipeline, run-frotend-pipeline

Lints
  packages/server/modules/fileuploads/services/resultHandler.ts
  packages/server/modules/shared/utils/subscriptions.ts
Due: run-server-pipeline

fix
  packages/server/modules/fileuploads/services/resultHandler.ts
Due: run-server-pipeline

add cachePump tests
  packages/objectloader2/src/helpers/__snapshots__/cacheReader.spec.ts.snap
  packages/objectloader2/src/helpers/cachePump.ts
  packages/objectloader2/src/helpers/cacheReader.spec.ts
  packages/objectloader2/src/helpers/defermentManager.ts
  packages/objectloader2/src/operations/indexedDatabase.spec.ts
  packages/objectloader2/src/operations/indexedDatabase.ts
  packages/objectloader2/src/operations/options.ts
Due: none

add cacheReader tests
  packages/objectloader2/src/helpers/__snapshots__/cachePump.spec.ts.snap
  packages/objectloader2/src/helpers/__snapshots__/cacheReader.spec.ts.snap
  packages/objectloader2/src/helpers/cachePump.spec.ts
  packages/objectloader2/src/helpers/cacheReader.spec.ts
  packages/objectloader2/src/helpers/cacheReader.ts
  packages/objectloader2/src/helpers/defermentManager.spec.ts
Due: none

fixed more tests
  packages/objectloader2/src/helpers/cachePump.spec.ts
  packages/objectloader2/src/helpers/cacheReader.spec.ts
  packages/objectloader2/src/operations/__snapshots__/indexedDatabase.spec.ts.snap
  packages/objectloader2/src/operations/indexedDatabase.spec.ts
  packages/objectloader2/src/operations/indexedDatabase.ts
  packages/objectloader2/src/operations/interfaces.ts
  packages/objectloader2/src/operations/memoryDatabase.ts
  packages/objectloader2/src/operations/objectLoader2.spec.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/options.ts
Due: none

WIP: tests
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/helpers/convert.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/resultHandler.ts
  packages/server/modules/fileuploads/tests/results.integration.spec.ts
Due: run-server-pipeline

Add USE_LEGACY_IFC_IMPORTER to env.example
  packages/fileimport-service/.env.example
Due: none

fix(workspaces): filter out stale workspaces for the activeUser list
  packages/server/modules/core/helpers/testHelpers.ts
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/retrieval.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/test/authHelper.ts
Due: run-server-pipeline

test fix
  packages/server/modules/fileuploads/tests/results.integration.spec.ts
Due: run-server-pipeline

auth middleware has implicit requirement for param named streamId
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
Due: run-server-pipeline

fixed final tests
  packages/objectloader2/eslint.config.mjs
  packages/objectloader2/src/helpers/cachePump.spec.ts
  packages/objectloader2/src/helpers/cachePump.ts
  packages/objectloader2/src/helpers/cacheReader.spec.ts
  packages/objectloader2/src/helpers/defermentManager.ts
  packages/objectloader2/src/operations/__snapshots__/objectLoader2.spec.ts.snap
  packages/objectloader2/src/operations/memoryDatabase.ts
  packages/objectloader2/src/operations/memoryDownloader.ts
  packages/objectloader2/src/operations/objectLoader2.spec.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/options.ts
  packages/objectloader2/src/operations/serverDownloader.spec.ts
  packages/objectloader2/src/operations/serverDownloader.ts
  packages/objectloader2/src/test/e2e.spec.ts
Due: none

feat(shared): unified queue initialization in shared
  packages/preview-service/src/jobProcessor.ts
  packages/preview-service/src/main.ts
  packages/preview-service/tsconfig.json
  packages/shared/package.json
  packages/shared/src/previews/index.ts
  packages/shared/src/queue/config.ts
  packages/shared/src/queue/index.ts
  packages/shared/src/queue/isRedisReady.ts
  packages/shared/src/workers/index.ts
  packages/shared/src/workers/state.ts
  yarn.lock
Due: none

complete tests and fixes
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/helpers/errors.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/services/resultHandler.ts
  packages/server/modules/fileuploads/tests/results.integration.spec.ts
Due: run-server-pipeline

can run the old way alongside the existing, no conflicts
  packages/server/modules/fileuploads/index.ts
Due: run-server-pipeline

tidying
  packages/server/modules/fileuploads/helpers/convert.ts
  packages/server/modules/fileuploads/helpers/errors.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/resultHandler.ts
Due: run-server-pipeline

correct error thrown
  packages/server/modules/fileuploads/helpers/convert.ts
Due: run-server-pipeline

feat(queues): use the new queue creation everywhere
  packages/preview-service/scripts/publishTask.ts
  packages/server/healthchecks/redis.ts
  packages/server/modules/cli/commands/activities/send.ts
  packages/server/modules/cli/commands/bull/monitor.ts
  packages/server/modules/cli/commands/bull/test-push.ts
  packages/server/modules/multiregion/services/queue.ts
  packages/server/modules/notifications/index.ts
  packages/server/modules/notifications/services/queue.ts
  packages/server/modules/previews/index.ts
  packages/server/modules/previews/queues/previews.ts
  packages/server/modules/shared/helpers/bullHelper.ts
  packages/server/modules/shared/redis/redis.ts
  packages/shared/src/queue/config.ts
Due: run-server-pipeline

feat(fe): shuffle onboarding question options
  packages/frontend-2/components/onboarding/questions/PlanSelect.vue
  packages/frontend-2/components/onboarding/questions/RoleSelect.vue
  packages/frontend-2/components/onboarding/questions/SourceSelect.vue
  packages/frontend-2/lib/auth/helpers/onboarding.ts
  packages/shared/src/onboarding/helpers/index.ts
  packages/ui-components/src/components/form/select/Base.vue
Due: run-frotend-pipeline

chore(shared): move to redis module
  packages/shared/package.json
  packages/shared/src/queue/config.ts
  packages/shared/src/queue/index.ts
  packages/shared/src/redis/index.ts
  packages/shared/src/redis/isRedisReady.ts
Due: none

feat(fileUploads): new upload endpoint skeleton
  packages/server/modules/blobstorage/services/streamsV2.ts
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/helpers/rest.ts
  packages/server/modules/fileuploads/helpers/types.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/rest/router.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/services/resultHandler.ts
  packages/server/modules/fileuploads/tests/fileuploadsV2.integration.spec.ts
Due: run-server-pipeline

fix(viewer-lib): Fixes WEB-1593
  packages/viewer/src/modules/extensions/sections/SectionOutlines.ts
Due: run-viewer-pipeline

chore(shared): fix export maps
  packages/preview-service/src/jobProcessor.ts
  packages/preview-service/src/main.ts
  packages/server/modules/previews/index.ts
  packages/shared/package.json
  packages/shared/src/workers/fileimport/index.ts
Due: run-server-pipeline

chore(fileimport): add deps properly
  packages/fileimport-service/package.json
Due: none

feat(viewer): Moved BoxSelection to viewer package and exported it. Added shift box drag functionality to add objects to selection when box selecting
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/index.ts
  packages/viewer/src/modules/LegacyViewer.ts
  packages/viewer/src/modules/extensions/BoxSelection.ts
Due: run-viewer-pipeline

chore(multiregion): job success logs (#4687)
  packages/server/modules/multiregion/services/queue.ts
Due: run-server-pipeline

fix(shared): import fix
  packages/shared/src/redis/isRedisReady.ts
Due: none

fix(everything): moear imports
  packages/preview-frontend/src/main.ts
  packages/server/healthchecks/redis.ts
  packages/server/modules/previews/queues/previews.ts
Due: run-server-pipeline

incorporate review comments
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/resultHandler.ts
Due: run-server-pipeline

fix(server): cjs imports
  packages/server/healthchecks/redis.ts
  packages/server/modules/multiregion/services/queue.ts
  packages/server/modules/notifications/services/queue.ts
  packages/server/modules/previews/index.ts
Due: run-server-pipeline

refactor(shared): unified queue handling (#4691)
  packages/fileimport-service/package.json
  packages/preview-frontend/src/main.ts
  packages/preview-service/scripts/publishTask.ts
  packages/preview-service/src/jobProcessor.ts
  packages/preview-service/src/main.ts
  packages/preview-service/tsconfig.json
  packages/server/healthchecks/redis.ts
  packages/server/modules/cli/commands/activities/send.ts
  packages/server/modules/cli/commands/bull/monitor.ts
  packages/server/modules/cli/commands/bull/test-push.ts
  packages/server/modules/multiregion/services/queue.ts
  packages/server/modules/notifications/index.ts
  packages/server/modules/notifications/services/queue.ts
  packages/server/modules/previews/index.ts
  packages/server/modules/previews/queues/previews.ts
  packages/server/modules/shared/helpers/bullHelper.ts
  packages/server/modules/shared/redis/redis.ts
  packages/shared/package.json
  packages/shared/src/queue/config.ts
  packages/shared/src/queue/index.ts
  packages/shared/src/redis/index.ts
  packages/shared/src/redis/isRedisReady.ts
  packages/shared/src/workers/fileimport/index.ts
  packages/shared/src/workers/index.ts
  packages/shared/src/workers/previews/index.ts
  packages/shared/src/workers/state.ts
  yarn.lock
Due: run-server-pipeline

feat(fileUploads): added coverage for new file importer endpoint
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/tests/fileuploads.spec.ts
  packages/server/modules/fileuploads/tests/fileuploadsV2.integration.spec.ts
  packages/server/modules/fileuploads/tests/helpers/creation.ts
  packages/server/modules/fileuploads/tests/helpers/init.ts
  packages/server/modules/fileuploads/tests/integration/fileuploads.spec.ts
  packages/server/modules/fileuploads/tests/integration/fileuploadsV2.spec.ts
  packages/server/modules/fileuploads/tests/integration/results.spec.ts
Due: run-server-pipeline

feat(file importer): server has REST API to receive results about a file import (#4688)
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/helpers/convert.ts
  packages/server/modules/fileuploads/helpers/errors.ts
  packages/server/modules/fileuploads/index.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/rest/router.ts
  packages/server/modules/fileuploads/rest/routes.ts
  packages/server/modules/fileuploads/services/resultHandler.ts
  packages/server/modules/fileuploads/tests/results.integration.spec.ts
  packages/shared/src/workers/fileimport/job.ts
Due: run-server-pipeline

fix(workspaces): added tests, fix bugged on handling after stream
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/rest/router.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/tests/integration/fileuploads.spec.ts
  packages/server/modules/fileuploads/tests/integration/fileuploadsV2.spec.ts
Due: run-server-pipeline

refactor: removed useless file
  packages/server/modules/blobstorage/services/streamsV2.ts
Due: run-server-pipeline
