Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

fix: get_version
  .github/workflows/scripts/common.sh
  .github/workflows/scripts/get_version.sh
  .github/workflows/wip.yml
Due: none

fix: get_version
  .github/workflows/wip.yml
Due: none

fix(workspaces): order discoverable workspaces by team size
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/tests/integration/repositories.spec.ts
  packages/server/test/authHelper.ts
Due: run-server-pipeline

fix(workspaces): emit workspace admins from LimitedWorkspace
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/codegen.yml
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspacesCore/helpers/graphTypes.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline

lint fix
  packages/frontend-2/components/viewer/embed/Footer.vue
Due: run-frotend-pipeline

Update copy
  packages/frontend-2/components/project/model-page/dialog/embed/Embed.vue
Due: run-frotend-pipeline

fix: get_version
  .github/workflows/scripts/get_version.sh
  .github/workflows/wip.yml
Due: none

feat: update build tags
  .github/workflows/builds.yml
  .github/workflows/wip.yml
Due: none

fix: builds
  .github/workflows/builds.yml
Due: none

chore(workspaces): drop some comments
  packages/server/test/authHelper.ts
Due: run-server-pipeline

Feat: Add embed option to disable title link (#4778)
  packages/frontend-2/components/project/model-page/dialog/embed/Embed.vue
  packages/frontend-2/components/viewer/PreSetupWrapper.vue
  packages/frontend-2/components/viewer/embed/Footer.vue
  packages/frontend-2/lib/viewer/composables/setup/embed.ts
  packages/frontend-2/middleware/002-redirects.global.ts
Due: run-frotend-pipeline

feat: added notes
  .circleci/config.yml
Due: none

Feat: Add Intercom tracking events
  packages/frontend-2/components/header/WorkspaceSwitcher/ListItem.vue
  packages/frontend-2/lib/billing/composables/actions.ts
  packages/frontend-2/lib/intercom/graphql/queries.ts
  packages/frontend-2/lib/navigation/composables/navigation.ts
  packages/frontend-2/lib/workspaces/composables/wizard.ts
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

Fix wrong useIntercom
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/navigation/composables/navigation.ts
Due: run-frotend-pipeline

fix(viewer-lib): Added relative epsilon to section outlines. Added constant epsilon to setting orbit controls position and target
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/extensions/controls/SmoothOrbitControls.ts
  packages/viewer/src/modules/extensions/sections/SectionOutlines.ts
Due: run-viewer-pipeline

Fix events
  packages/frontend-2/lib/workspaces/composables/wizard.ts
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

Remove avatar
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

fix typo
  packages/frontend-2/lib/billing/composables/actions.ts
Due: run-frotend-pipeline

feat(workspaces): sort discoverable workspaces by member count (#4779)
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/codegen.yml
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/tests/integration/repositories.spec.ts
  packages/server/modules/workspacesCore/helpers/graphTypes.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline

need to figure out mocks
  packages/server/.mocharc.cjs
  packages/server/bin/mocha
  packages/server/bin/ts-www
  packages/server/package.json
  packages/server/test/mockHelper.ts
  yarn.lock
Due: run-server-pipeline

need to figure out mocks
  packages/server/bootstrap.js
  packages/server/modules/previews/services/management.ts
  packages/server/test/mockHelper.ts
Due: run-server-pipeline

Feat: Add Intercom tracking events (#4780)
  packages/frontend-2/components/header/WorkspaceSwitcher/ListItem.vue
  packages/frontend-2/lib/billing/composables/actions.ts
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/intercom/graphql/queries.ts
  packages/frontend-2/lib/navigation/composables/navigation.ts
  packages/frontend-2/lib/workspaces/composables/wizard.ts
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

GQL
  packages/frontend-2/lib/common/generated/gql/graphql.ts
Due: run-frotend-pipeline

Fix: Some intercom improvements
  packages/frontend-2/components/workspace/dashboard/Dashboard.vue
  packages/frontend-2/lib/billing/composables/actions.ts
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/workspaces/composables/wizard.ts
Due: run-frotend-pipeline

linting
  packages/frontend-2/lib/billing/composables/actions.ts
Due: run-frotend-pipeline

feat(fe2): proper file upload access checks
  packages/frontend-2/components/project/CardImportFileArea.vue
  packages/frontend-2/components/project/model-page/Versions.vue
  packages/frontend-2/components/project/page/models/Card.vue
  packages/frontend-2/components/project/page/models/CardView.vue
  packages/frontend-2/components/project/page/models/ListView.vue
  packages/frontend-2/components/project/page/models/StructureItem.vue
  packages/frontend-2/components/projects/ProjectDashboardCard.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/core/composables/fileImport.ts
  packages/frontend-2/lib/projects/graphql/fragments.ts
Due: run-frotend-pipeline

fix(viewer-lib): Loader disposes of the object loader instance after it's not longer required
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
Due: run-viewer-pipeline

feat(workspaces): enable toggle for auto-join discoverable workspaces
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/core/helpers/testHelpers.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/management.ts
  packages/server/modules/workspaces/services/workspaceJoinRequests.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/workspaceJoinRequests.spec.ts
  packages/server/modules/workspaces/tests/unit/services/management.spec.ts
  packages/server/modules/workspaces/tests/unit/services/sso.spec.ts
  packages/server/modules/workspacesCore/domain/types.ts
  packages/server/modules/workspacesCore/helpers/db.ts
  packages/server/modules/workspacesCore/migrations/20250521100349_add_discoverable_workspace_auto_join.ts
  packages/server/test/graphql/generated/graphql.ts
  packages/server/test/speckle-helpers/workspaces.ts
Due: run-server-pipeline
