Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

minor update
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/services/management.ts
  packages/server/modules/workspaces/services/workspaceSeat.ts
Due: run-server-pipeline

chore(preview-frontend): Bumped viewer version
  packages/preview-frontend/package.json
Due: none

chore(preview-frontend): lockfile
  yarn.lock
Due: none

preview-frontend-no-outlines (#4715)
  packages/preview-frontend/package.json
  packages/preview-frontend/src/main.ts
  yarn.lock
Due: none

Fix: Update PowerBI description
  packages/server/modules/auth/defaultApps.ts
Due: run-server-pipeline

use byte size for max memory cache size
  packages/objectloader2/src/helpers/defermentManager.spec.ts
  packages/objectloader2/src/helpers/defermentManager.ts
  packages/objectloader2/src/helpers/deferredBase.ts
  packages/objectloader2/src/operations/downloaders/__snapshots__/serverDownloader.spec.ts.snap
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
  packages/objectloader2/src/operations/objectLoader2.ts
  packages/objectloader2/src/operations/options.ts
  packages/objectloader2/src/types/types.ts
Due: none

fix: truncate helper on tests
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
Due: run-server-pipeline

Fix: Update PowerBI description (#4741)
  packages/server/modules/auth/defaultApps.ts
Due: run-server-pipeline

fix(server): seats sometimes not created on role create (#4740)
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaceJoinRequests.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/rest/sso.ts
  packages/server/modules/workspaces/services/invites.ts
  packages/server/modules/workspaces/services/join.ts
  packages/server/modules/workspaces/services/management.ts
  packages/server/modules/workspaces/services/projects.ts
  packages/server/modules/workspaces/services/sso.ts
  packages/server/modules/workspaces/services/workspaceJoinRequests.ts
  packages/server/modules/workspaces/services/workspaceSeat.ts
  packages/server/modules/workspaces/tests/helpers/creation.ts
  packages/server/modules/workspaces/tests/integration/workspaceJoinRequests.spec.ts
  packages/server/modules/workspaces/tests/unit/services/join.spec.ts
  packages/server/modules/workspaces/tests/unit/services/management.spec.ts
  packages/server/modules/workspaces/tests/unit/services/sso.spec.ts
  packages/server/modules/workspacesCore/migrations/20250514092509_add_missing_seats.ts
Due: run-server-pipeline

add more progress to show traversal and conversion counts
  packages/frontend-2/lib/viewer/composables/setup/postSetup.ts
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer/src/modules/loaders/Loader.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
Due: run-frotend-pipeline, run-viewer-pipeline

revert oidc change
  packages/server/modules/auth/strategies/github.ts
  packages/server/modules/auth/strategies/google.ts
  packages/server/modules/auth/strategies/oidc.ts
Due: run-server-pipeline

fix: gqlgen
  packages/frontend-2/lib/common/generated/gql/graphql.ts
Due: run-frotend-pipeline

fix deferment manager tests
  packages/objectloader2/src/helpers/defermentManager.spec.ts
Due: none

Additional guard
  packages/server/modules/auth/services/passportService.ts
Due: run-server-pipeline

chore(server): remove unused stream isPublic/isDiscoverable fields
  packages/server/modules/core/helpers/types.ts
  packages/server/modules/core/migrations/20250514125149_remove_streams_ispublic_isdiscoverable.ts
  packages/server/modules/core/services/projects.ts
  packages/server/modules/core/tests/integration/projectRepositories.spec.ts
  packages/server/modules/notifications/tests/activityDigest.spec.ts
Due: run-server-pipeline

remove extra line
  packages/viewer/src/modules/loaders/Speckle/SpeckleLoader.ts
Due: run-viewer-pipeline

fix(automate): set default input values in function input form (#4728)
  packages/frontend-2/components/form/json/Form.vue
  packages/frontend-2/package.json
  packages/server/modules/automate/graph/mocks/automate.ts
  yarn.lock
Due: run-server-pipeline, run-frotend-pipeline

chore(deps): dedupe ajv
  packages/frontend-2/components/form/json/Form.vue
  packages/frontend-2/package.json
  yarn.lock
Due: run-frotend-pipeline

use a set of keys to determine if the whole batch was gathered
  packages/objectloader2/src/operations/downloaders/serverDownloader.ts
  packages/objectloader2/src/types/types.ts
  packages/viewer-sandbox/src/main.ts
Due: none

Chore(fe): copy change
  packages/frontend-2/components/project/CardImportFileArea.vue
Due: run-frotend-pipeline

saved comment
  packages/objectloader2/src/operations/objectLoader2.ts
Due: none

feat(viewer-lib): Removed default 'USE_RTE' defines from all non instanced mesh materials. Updated standard shader to compile and work properly in non RTE mode
  packages/viewer-sandbox/src/Pipelines/Snow/SnowMaterial.ts
  packages/viewer-sandbox/src/Pipelines/Snow/SnowPipeline.ts
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/SpeckleRenderer.ts
  packages/viewer/src/modules/extensions/DiffExtension.ts
  packages/viewer/src/modules/extensions/measurements/MeasurementPointGizmo.ts
  packages/viewer/src/modules/materials/Materials.ts
  packages/viewer/src/modules/materials/SpeckleGhostMaterial.ts
  packages/viewer/src/modules/materials/SpeckleNormalMaterial.ts
  packages/viewer/src/modules/materials/SpeckleStandardColoredMaterial.ts
  packages/viewer/src/modules/materials/SpeckleStandardMaterial.ts
  packages/viewer/src/modules/materials/SpeckleViewportMaterial.ts
  packages/viewer/src/modules/materials/shaders/speckle-standard-vert.ts
  packages/viewer/src/modules/pipeline/Passes/DepthNormalIdPass.ts
  packages/viewer/src/modules/pipeline/Passes/DepthNormalPass.ts
  packages/viewer/src/modules/pipeline/Passes/DepthPass.ts
  packages/viewer/src/modules/pipeline/Passes/NormalsPass.ts
  packages/viewer/src/modules/pipeline/Passes/ShadedPass.ts
  packages/viewer/src/modules/pipeline/Passes/StencilMaskPass.ts
  packages/viewer/src/modules/pipeline/Passes/StencilPass.ts
  packages/viewer/src/modules/pipeline/Pipelines/PenViewPipeline.ts
Due: run-viewer-pipeline

chore(fe): refactor
  packages/frontend-2/components/project/CardImportFileArea.vue
Due: run-frotend-pipeline

fix(viewer-sandbox): Fixed compiler error
  packages/viewer-sandbox/src/Sandbox.ts
Due: none

fix: add available seats query in component. refetch on confirm.
  packages/frontend-2/components/settings/workspaces/members/actions/UpdateSeatTypeDialog.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
Due: run-frotend-pipeline

chore(deps): dedupe ajv (#4744)
  packages/frontend-2/components/form/json/Form.vue
  packages/frontend-2/package.json
  yarn.lock
Due: run-frotend-pipeline

fix(fileimport): nextGen fileimport improvements
  packages/server/modules/fileuploads/domain/operations.ts
  packages/server/modules/fileuploads/migrations/20250514131509_add_modelId_foreign_to_file_uploads.ts
  packages/server/modules/fileuploads/repositories/fileUploads.ts
  packages/server/modules/fileuploads/rest/nextGenRouter.ts
  packages/server/modules/fileuploads/services/management.ts
  packages/server/modules/fileuploads/tests/integration/fileuploadsV2.spec.ts
Due: run-server-pipeline

Change copy, icons, and order of items
  packages/frontend-2/components/project/VisibilitySelect.vue
  packages/frontend-2/components/project/page/settings/general/block/Access.vue
Due: run-frotend-pipeline

fix(workspaces): drop legacy discoverable workspace join
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/server/assets/workspacesCore/typedefs/workspaces.graphql
  packages/server/modules/core/graph/generated/graphql.ts
  packages/server/modules/cross-server-sync/graph/generated/graphql.ts
  packages/server/modules/workspaces/errors/workspace.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/graph/resolvers/workspaces.ts
  packages/server/modules/workspaces/services/join.ts
  packages/server/modules/workspaces/tests/unit/services/join.spec.ts
  packages/server/modules/workspacesCore/domain/events.ts
  packages/server/test/graphql/generated/graphql.ts
Due: run-server-pipeline, run-frotend-pipeline

please please please
  packages/server/modules/core/repositories/objects.ts
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

Update general access copy if project is private
  packages/frontend-2/components/project/page/collaborators/Collaborators.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/GeneralAccess.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/projects/helpers/components.ts
Due: run-frotend-pipeline

fine
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

fix(workspaces): one more reference
  packages/server/modules/workspacesCore/graph/resolvers/workspacesCore.ts
Due: run-server-pipeline

feat(workspaces): mixpanel update more attributes (#4713)
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/events/eventListener.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
Due: run-server-pipeline

chore(server): remove unused stream isPublic/isDiscoverable fields (#4743)
  packages/server/modules/core/helpers/types.ts
  packages/server/modules/core/migrations/20250514125149_remove_streams_ispublic_isdiscoverable.ts
  packages/server/modules/core/services/projects.ts
  packages/server/modules/core/tests/integration/projectRepositories.spec.ts
  packages/server/modules/notifications/tests/activityDigest.spec.ts
Due: run-server-pipeline

fix(server): fallback to viewer if no seat found
  packages/server/modules/gatekeeper/graph/resolvers/index.ts
  packages/server/modules/gatekeeper/services/checkout/startCheckoutSession.ts
  packages/server/modules/gatekeeper/services/subscriptions/manageSubscriptionDownscale.ts
  packages/server/modules/gatekeeper/services/subscriptions/upgradeWorkspaceSubscription.ts
  packages/server/modules/workspaces/services/projects.ts
  packages/server/modules/workspaces/services/workspaceSeat.ts
  packages/server/modules/workspaces/tests/integration/workspaceSeat.spec.ts
  packages/server/modules/workspaces/tests/integration/workspaces.graph.spec.ts
  packages/server/modules/workspaces/tests/unit/services/management.spec.ts
  packages/server/modules/workspaces/tests/unit/services/projects.spec.ts
  packages/server/modules/workspaces/tests/unit/services/workspaceSeat.spec.ts
Due: run-server-pipeline

fix(viewer-lib): non-RTE vertex transform also takes pivot into account
  packages/viewer/src/modules/materials/shaders/speckle-standard-vert.ts
Due: run-viewer-pipeline

Fix: Copy fixes for private projects (#4747)
  packages/frontend-2/components/project/VisibilitySelect.vue
  packages/frontend-2/components/project/page/collaborators/Collaborators.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/GeneralAccess.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
  packages/frontend-2/components/project/page/settings/general/block/Access.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/projects/helpers/components.ts
Due: run-frotend-pipeline

feat(viewer-lib): All required vertex programs now have proper non-RT vertex and shadow transformation pipelines
  packages/viewer/src/modules/materials/shaders/speckle-basic-vert.ts
  packages/viewer/src/modules/materials/shaders/speckle-depth-normal-id-vert.ts
  packages/viewer/src/modules/materials/shaders/speckle-depth-normal-vert.ts
  packages/viewer/src/modules/materials/shaders/speckle-depth-vert.ts
  packages/viewer/src/modules/materials/shaders/speckle-displace.vert.ts
  packages/viewer/src/modules/materials/shaders/speckle-ghost-vert.ts
  packages/viewer/src/modules/materials/shaders/speckle-normal-vert.ts
  packages/viewer/src/modules/materials/shaders/speckle-standard-colored-vert.ts
  packages/viewer/src/modules/materials/shaders/speckle-text-vert.ts
  packages/viewer/src/modules/materials/shaders/speckle-viewport-vert.ts
Due: run-viewer-pipeline

Path conditions:
  run-server-pipeline: any of: packages/server/.*
  run-frotend-pipeline: any of: packages/frontend-2/.*
  run-viewer-pipeline: any of: packages/viewer/.*
