Repository specklesystems/speckle-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-pipeline, run-frotend-pipeline, run-viewer-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1
  continuation: circleci/continuation@1

# jobs:
#   continue-to-prod-deployment:
#     executor: continuation/default
#     steps:
#       - continuation/continue:
#           configuration_path: .circleci/config-main.yml # run next steps

# entrypoint
workflows:
  workflow-on-pr:
    # when: not: pipeline.git.branch == "main" # todo: or hotfix, regex, tag etc
    jobs:
      - path-filtering/filter:
          name: Filter pipeline by paths on main
          # when: pipeline.git.branch != "main"
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            packages/server/.* run-server-pipeline true
            packages/frontend-2/.* run-frotend-pipeline true
            packages/viewer/.* run-viewer-pipeline true
          base-revision: main
          filters:
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/
          config-path: .circleci/config-pr.yml # parse parameters here

fix(viewer-lib): Possible fix for isolating with non atomic ids provided (#4620)
  packages/viewer/src/modules/extensions/FilteringExtension.ts
Due: run-viewer-pipeline

Fix: Update project invite copy
  packages/frontend-2/components/invite/dialog/project/Project.vue
Due: run-frotend-pipeline

chore(viewer-lib): Enabled usage of text v3. Temporary passthrough until proper implementation
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleGeometryConverter.ts
Due: run-viewer-pipeline

fix(multiregion): pino syntax
  packages/server/modules/multiregion/services/queue.ts
Due: run-server-pipeline

chore(viewer-lib): Enabled usage of text v3. Temporary passthrough until proper implementation (#4661)
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/loaders/Speckle/SpeckleGeometryConverter.ts
Due: run-viewer-pipeline

chore(viewer-lib): Fixed linting issues. are now optional when setting view modes
  packages/frontend-2/components/viewer/sun/Menu.vue
  packages/viewer/src/modules/extensions/ViewModes.ts
Due: run-frotend-pipeline, run-viewer-pipeline

Update Project.vue
  packages/frontend-2/components/invite/dialog/project/Project.vue
Due: run-frotend-pipeline

Fix: Move navigation data fetching from composable to component
  packages/frontend-2/components/header/WorkspaceSwitcher/Item.vue
  packages/frontend-2/components/header/WorkspaceSwitcher/List.vue
  packages/frontend-2/components/header/WorkspaceSwitcher/ListItem.vue
  packages/frontend-2/components/header/WorkspaceSwitcher/WorkspaceSwitcher.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/navigation/composables/navigation.ts
  packages/frontend-2/lib/navigation/graphql/queries.ts
Due: run-frotend-pipeline

Move all queries to component
  packages/frontend-2/components/header/WorkspaceSwitcher/WorkspaceSwitcher.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/navigation/composables/navigation.ts
  packages/frontend-2/lib/navigation/graphql/queries.ts
Due: run-frotend-pipeline

Merge main
  packages/frontend-2/components/invite/dialog/project/Project.vue
Due: run-frotend-pipeline

Change how Intercom is initialized
  packages/frontend-2/plugins/intercom.client.ts
Due: run-frotend-pipeline

Move Automate beta badge to the automations page
  packages/frontend-2/components/project/page/automations/Header.vue
  packages/frontend-2/pages/projects/[id]/index.vue
Due: run-frotend-pipeline

fix(viewer-lib): Fixes WEB-3105. Export all measurement types
  packages/viewer-sandbox/src/Sandbox.ts
  packages/viewer/src/index.ts
  packages/viewer/src/modules/extensions/measurements/MeasurementsExtension.ts
Due: run-viewer-pipeline

something like this, now with logging
  packages/server/scripts/moveProjectsBetweenServers.ts
Due: run-server-pipeline

Feat: Allow adding members directly from workspace members section
  packages/frontend-2/components/project/page/collaborators/Collaborators.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/Admins.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/GeneralAccess.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
Due: run-frotend-pipeline

Move Automate beta badge to the automations page (#4663)
  packages/frontend-2/components/project/page/automations/Header.vue
  packages/frontend-2/pages/projects/[id]/index.vue
Due: run-frotend-pipeline

Add avatar
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
Due: run-frotend-pipeline

feat(workspaces): added cron job to delete staleworkspaces
  packages/server/modules/workspaces/domain/operations.ts
  packages/server/modules/workspaces/index.ts
  packages/server/modules/workspaces/repositories/workspaces.ts
  packages/server/modules/workspaces/services/management.ts
  packages/server/modules/workspacesCore/helpers/db.ts
Due: run-server-pipeline

Update toast
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
Due: run-frotend-pipeline

fix flicker
  packages/frontend-2/components/header/WorkspaceSwitcher/WorkspaceSwitcher.vue
Due: run-frotend-pipeline

chore(viewer-lib): Purged the old section tool
  packages/viewer/src/index.ts
  packages/viewer/src/modules/extensions/sections/AxisAlignedSectionTool.ts
Due: run-viewer-pipeline

Feat: Navigation project invite row with arrow keys
  packages/frontend-2/components/invite/dialog/project/Row.vue
Due: run-frotend-pipeline

cleanup a bit
  packages/frontend-2/components/invite/dialog/project/Row.vue
Due: run-frotend-pipeline

Reduce heading size on project tabs
  packages/frontend-2/components/project/page/automations/Header.vue
  packages/frontend-2/components/project/page/collaborators/Collaborators.vue
  packages/frontend-2/components/project/page/discussions/Header.vue
  packages/frontend-2/components/project/page/models/Header.vue
  packages/frontend-2/pages/projects/[id]/index/settings.vue
Due: run-frotend-pipeline

Adjust spacings of project title area
  packages/frontend-2/components/common/TitleDescription.vue
  packages/frontend-2/pages/projects/[id]/index.vue
Due: run-frotend-pipeline

Adjust workspace icon on project page
  packages/frontend-2/components/project/page/Header.vue
Due: run-frotend-pipeline

cleanup a bit more
  packages/frontend-2/components/invite/dialog/project/Row.vue
Due: run-frotend-pipeline

Update esc
  packages/frontend-2/components/invite/dialog/project/Row.vue
Due: run-frotend-pipeline

Fix: Project page styling polish (#4666)
  packages/frontend-2/components/common/TitleDescription.vue
  packages/frontend-2/components/project/page/Header.vue
  packages/frontend-2/components/project/page/automations/Header.vue
  packages/frontend-2/components/project/page/collaborators/Collaborators.vue
  packages/frontend-2/components/project/page/discussions/Header.vue
  packages/frontend-2/components/project/page/models/Header.vue
  packages/frontend-2/pages/projects/[id]/index.vue
  packages/frontend-2/pages/projects/[id]/index/settings.vue
Due: run-frotend-pipeline

Update styling of results + change btn text
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
Due: run-frotend-pipeline

Update toast notification
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
Due: run-frotend-pipeline

Update text to remove project member
  packages/frontend-2/components/project/page/collaborators/Row.vue
Due: run-frotend-pipeline

Fix: Move navigation data fetching from composable to component (#4662)
  packages/frontend-2/components/header/WorkspaceSwitcher/Item.vue
  packages/frontend-2/components/header/WorkspaceSwitcher/List.vue
  packages/frontend-2/components/header/WorkspaceSwitcher/ListItem.vue
  packages/frontend-2/components/header/WorkspaceSwitcher/WorkspaceSwitcher.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
  packages/frontend-2/lib/navigation/composables/navigation.ts
  packages/frontend-2/lib/navigation/graphql/queries.ts
Due: run-frotend-pipeline

Feat: Navigation project invite row with arrow keys (#4667)
  packages/frontend-2/components/invite/dialog/project/Row.vue
Due: run-frotend-pipeline

Align members and admins styling and adjust spacings
  packages/frontend-2/components/project/page/collaborators/generalAccess/Admins.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
Due: run-frotend-pipeline

Feat: Allow adding members directly from workspace members section (#4664)
  packages/frontend-2/components/project/page/collaborators/Collaborators.vue
  packages/frontend-2/components/project/page/collaborators/GeneralAccess.vue
  packages/frontend-2/components/project/page/collaborators/Row.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/Admins.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/GeneralAccess.vue
  packages/frontend-2/components/project/page/collaborators/generalAccess/Members.vue
  packages/frontend-2/lib/common/generated/gql/gql.ts
  packages/frontend-2/lib/common/generated/gql/graphql.ts
Due: run-frotend-pipeline

chore(multiregion): a bit more logging (#4659)
  packages/server/modules/multiregion/services/queue.ts
Due: run-server-pipeline

Updated icon for "book an intro call" to match style of the already used icons
  packages/frontend-2/components/dashboard/Sidebar.vue
  packages/frontend-2/components/global/icon/Calendar.vue
Due: run-frotend-pipeline

Fix: Update project invite copy (#4660)
  packages/frontend-2/components/invite/dialog/project/Project.vue
Due: run-frotend-pipeline
